flows_raspberrypi.json
[{"id":"7b532bf3.282a54","type":"tab","label":"LecturasContinuas","disabled":true,"info":""},{"id":"2da63df0.124802","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"346374ca.eee81c","type":"tab","label":"ProbarUnaVez","disabled":false,"info":""},{"id":"cf4eb861.964c88","type":"tab","label":"Neopixel","disabled":false,"info":""},{"id":"20f5d70b.92ff78","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"6aa9a900.3e3e18","type":"i2c scan","z":"7b532bf3.282a54","name":"","busno":"1","x":280,"y":60,"wires":[["12076590.59432a"],[]]},{"id":"12076590.59432a","type":"debug","z":"7b532bf3.282a54","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":460,"y":60,"wires":[]},{"id":"69ad956b.d8fb7c","type":"inject","z":"7b532bf3.282a54","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":60,"wires":[["6aa9a900.3e3e18"]]},{"id":"aaf67c3d.0bb47","type":"ads1x15-raspi","z":"7b532bf3.282a54","property":"A0","name":"ADC0","chip":"IC_ADS1115","i2c_address":"ADDRESS_0x48","channel":"CHANNEL_0","samplesPerSecond0":"SPS_920","samplesPerSecond1":"SPS_860","progGainAmp":"PGA_4_096V","x":280,"y":180,"wires":[["3c5a696e.1a8c66"]]},{"id":"199b9fba.e5e24","type":"debug","z":"7b532bf3.282a54","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"A0.voltage","targetType":"msg","x":610,"y":140,"wires":[]},{"id":"cd9d7932.5025c8","type":"inject","z":"7b532bf3.282a54","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":180,"wires":[["aaf67c3d.0bb47"]]},{"id":"3c5a696e.1a8c66","type":"ads1x15-raspi","z":"7b532bf3.282a54","property":"A1","name":"ADC1","chip":"IC_ADS1115","i2c_address":"ADDRESS_0x48","channel":"CHANNEL_1","samplesPerSecond0":"SPS_920","samplesPerSecond1":"SPS_860","progGainAmp":"PGA_4_096V","x":420,"y":180,"wires":[["199b9fba.e5e24","c7c49774.2f5708"]]},{"id":"c7c49774.2f5708","type":"debug","z":"7b532bf3.282a54","name":"","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"A1.voltage","targetType":"msg","x":610,"y":220,"wires":[]},{"id":"1d34bb71.fd8b35","type":"inject","z":"7b532bf3.282a54","name":"","topic":"","payload":"","payloadType":"date","repeat":"3","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":320,"wires":[["5312126e.bf821c"]]},{"id":"6c9e8727.9b7bd8","type":"debug","z":"7b532bf3.282a54","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":600,"y":320,"wires":[]},{"id":"847ce062.674c5","type":"tsl2561","z":"7b532bf3.282a54","address":57,"integ":"1","gain":"1","debugMode":false,"x":300,"y":420,"wires":[["fed3c5bd.6863b8"],["f75e66bf.a2d9f8"]]},{"id":"fed3c5bd.6863b8","type":"debug","z":"7b532bf3.282a54","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.lux","targetType":"msg","x":500,"y":400,"wires":[]},{"id":"24008de5.98cac2","type":"inject","z":"7b532bf3.282a54","name":"","topic":"","payload":"measure","payloadType":"str","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":420,"wires":[["847ce062.674c5"]]},{"id":"f75e66bf.a2d9f8","type":"debug","z":"7b532bf3.282a54","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":490,"y":440,"wires":[]},{"id":"5312126e.bf821c","type":"exec","z":"7b532bf3.282a54","command":"python3 /home/pi/dht.py","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"exec dht.py","x":280,"y":320,"wires":[["defb14fb.221378","775affe3.1bab"],[],[]]},{"id":"defb14fb.221378","type":"json","z":"7b532bf3.282a54","name":"","property":"payload","action":"","pretty":false,"x":440,"y":320,"wires":[["6c9e8727.9b7bd8"]]},{"id":"775affe3.1bab","type":"debug","z":"7b532bf3.282a54","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":460,"y":280,"wires":[]},{"id":"d795c66.b73f038","type":"exec","z":"2da63df0.124802","command":"python -u /home/pi/.node-red/projects/DisplayErgonomiaFlows/test.py","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"exec","x":420,"y":160,"wires":[["fa465555.fb8ca8"],[],[]]},{"id":"5dc5c8fa.d7ac68","type":"inject","z":"2da63df0.124802","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":280,"y":160,"wires":[["d795c66.b73f038"]]},{"id":"fa465555.fb8ca8","type":"debug","z":"2da63df0.124802","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":580,"y":160,"wires":[]},{"id":"46588d70.a461b4","type":"comment","z":"2da63df0.124802","name":"Revisar la ruta del archivo py","info":"Revisar la ruta del archivo py","x":420,"y":100,"wires":[]},{"id":"264a75c6.69c19a","type":"i2c scan","z":"346374ca.eee81c","name":"","busno":"1","x":260,"y":40,"wires":[["2434ad50.c88422"],[]]},{"id":"2434ad50.c88422","type":"debug","z":"346374ca.eee81c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":440,"y":40,"wires":[]},{"id":"b8197975.172818","type":"inject","z":"346374ca.eee81c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":40,"wires":[["264a75c6.69c19a"]]},{"id":"5ff6a904.25f0e8","type":"tsl2561","z":"346374ca.eee81c","address":57,"integ":"1","gain":"1","debugMode":false,"x":290,"y":120,"wires":[["a1535852.a2e958"],["4985e84b.a80278"]]},{"id":"a1535852.a2e958","type":"debug","z":"346374ca.eee81c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.lux","targetType":"msg","x":490,"y":100,"wires":[]},{"id":"cdae4266.49ea5","type":"inject","z":"346374ca.eee81c","name":"","topic":"","payload":"measure","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":120,"wires":[["5ff6a904.25f0e8"]]},{"id":"4985e84b.a80278","type":"debug","z":"346374ca.eee81c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":480,"y":140,"wires":[]},{"id":"39b4f88.bf4e708","type":"inject","z":"346374ca.eee81c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":240,"wires":[["1a95060b.0a335a"]]},{"id":"1c1c227d.349a7e","type":"debug","z":"346374ca.eee81c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":590,"y":240,"wires":[]},{"id":"1a95060b.0a335a","type":"exec","z":"346374ca.eee81c","command":"python3 -u /home/pi/.node-red/projects/DisplayErgonomiaFlows/dht.py","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"exec dht.py","x":270,"y":240,"wires":[["c78bb582.3d99a8","8a7890af.4222a"],[],[]]},{"id":"c78bb582.3d99a8","type":"json","z":"346374ca.eee81c","name":"","property":"payload","action":"","pretty":false,"x":430,"y":240,"wires":[["1c1c227d.349a7e"]]},{"id":"8a7890af.4222a","type":"debug","z":"346374ca.eee81c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":450,"y":200,"wires":[]},{"id":"26d41a68.531266","type":"inject","z":"cf4eb861.964c88","name":"","topic":"","payload":"red","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":60,"wires":[["89bb9876.262388"]]},{"id":"89bb9876.262388","type":"rpi-neopixels","z":"cf4eb861.964c88","name":"","gpio":18,"pixels":"272","bgnd":"","fgnd":"","wipe":"0","mode":"pcent","rgb":"rgb","brightness":"20","gamma":true,"x":300,"y":100,"wires":[]},{"id":"68309b8f.566b74","type":"inject","z":"cf4eb861.964c88","name":"","topic":"","payload":"green","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":100,"wires":[["89bb9876.262388"]]},{"id":"91e5c8e1.4b91b8","type":"inject","z":"cf4eb861.964c88","name":"","topic":"","payload":"blue","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":111,"y":140,"wires":[["89bb9876.262388"]]},{"id":"eee436c3.edc508","type":"ads1x15-raspi","z":"346374ca.eee81c","property":"A0","name":"ADC0","chip":"IC_ADS1115","i2c_address":"ADDRESS_0x48","channel":"CHANNEL_0","samplesPerSecond0":"SPS_920","samplesPerSecond1":"SPS_860","progGainAmp":"PGA_4_096V","x":270,"y":320,"wires":[["d0d8f730.6c7b98"]]},{"id":"6697305a.9d172","type":"debug","z":"346374ca.eee81c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"A0.voltage","targetType":"msg","x":600,"y":300,"wires":[]},{"id":"2e51494d.15c696","type":"inject","z":"346374ca.eee81c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":320,"wires":[["eee436c3.edc508"]]},{"id":"d0d8f730.6c7b98","type":"ads1x15-raspi","z":"346374ca.eee81c","property":"A1","name":"ADC1","chip":"IC_ADS1115","i2c_address":"ADDRESS_0x48","channel":"CHANNEL_1","samplesPerSecond0":"SPS_920","samplesPerSecond1":"SPS_860","progGainAmp":"PGA_4_096V","x":410,"y":320,"wires":[["6697305a.9d172","438d3d7a.c66ba4"]]},{"id":"438d3d7a.c66ba4","type":"debug","z":"346374ca.eee81c","name":"","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"A1.voltage","targetType":"msg","x":600,"y":340,"wires":[]},{"id":"6abf919c.2c7eb","type":"rpi-neopixels","z":"cf4eb861.964c88","name":"Pixel to start","gpio":18,"pixels":"272","bgnd":"Red","fgnd":"","wipe":"0","mode":"pcentneedle","rgb":"rgb","brightness":"100","gamma":true,"x":510,"y":280,"wires":[]},{"id":"c6994088.5624f","type":"inject","z":"cf4eb861.964c88","name":"x,y,r,g,b","topic":"","payload":"0,200,200,50,50","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":280,"wires":[["6abf919c.2c7eb"]]},{"id":"4d60aec6.ef82f","type":"debug","z":"cf4eb861.964c88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":530,"y":340,"wires":[]}]