flows_raspberrypi.json
[
    {
        "id": "f15c88c3.1d8bf8",
        "type": "tab",
        "label": "Mediciones Periódicas",
        "disabled": false,
        "info": ""
    },
    {
        "id": "9db9e4d5.033558",
        "type": "tab",
        "label": "Registro de datos",
        "disabled": false,
        "info": ""
    },
    {
        "id": "d0f801d.0d00a",
        "type": "tab",
        "label": "MQTT",
        "disabled": false,
        "info": ""
    },
    {
        "id": "c38c08a9.69fc18",
        "type": "tab",
        "label": "Rango de Colores",
        "disabled": false,
        "info": ""
    },
    {
        "id": "cf4eb861.964c88",
        "type": "tab",
        "label": "Salida NeoDígitos",
        "disabled": false,
        "info": ""
    },
    {
        "id": "af48f45.b140f08",
        "type": "tab",
        "label": "Setup Colores Límites",
        "disabled": false,
        "info": ""
    },
    {
        "id": "7f137852.8b9328",
        "type": "tab",
        "label": "Sistema",
        "disabled": false,
        "info": ""
    },
    {
        "id": "69a283fa.9a5a2c",
        "type": "tab",
        "label": "Ngrok",
        "disabled": false,
        "info": ""
    },
    {
        "id": "2de0f07d.fb2df",
        "type": "tab",
        "label": "Telegram",
        "disabled": false,
        "info": ""
    },
    {
        "id": "20f5d70b.92ff78",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#09773e",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#09773e",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#09773e",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#000000",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0ebe63",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#09773e",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Display Ergonomía",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "5d2a389b.943628",
        "type": "ui_tab",
        "name": "Display Ergonomía",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "a68eebc0.1d6ba8",
        "type": "ui_group",
        "name": "Colores",
        "tab": "cd412e5d.cb3a7",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "6596af46.e8855",
        "type": "ui_group",
        "name": "Luz",
        "tab": "5d2a389b.943628",
        "order": 2,
        "disp": true,
        "width": "5",
        "collapse": false
    },
    {
        "id": "e930afe6.376a6",
        "type": "ui_group",
        "name": "Temparatura y humedad",
        "tab": "5d2a389b.943628",
        "order": 3,
        "disp": true,
        "width": "5",
        "collapse": false
    },
    {
        "id": "cd412e5d.cb3a7",
        "type": "ui_tab",
        "name": "Setup",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "d00a1c45.82974",
        "type": "ui_group",
        "name": "Límites",
        "tab": "cd412e5d.cb3a7",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "ad639dd2.96355",
        "type": "ngrokauth",
        "z": "69a283fa.9a5a2c"
    },
    {
        "id": "13325c7e.01d734",
        "type": "telegrambot-config",
        "botname": "DisErgo0_Bot",
        "usernames": "",
        "chatIds": "",
        "pollInterval": "300"
    },
    {
        "id": "5236b089.d4c8b",
        "type": "ui_group",
        "name": "Apagar",
        "tab": "22cd6119.2672ae",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "22cd6119.2672ae",
        "type": "ui_tab",
        "name": "Sistema",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "504d9cda.7d0854",
        "type": "ui_group",
        "name": "WiFi",
        "tab": "22cd6119.2672ae",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "ca603ecf.625ee",
        "type": "ui_group",
        "name": "Sonido",
        "tab": "5d2a389b.943628",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "d34043c4.5854d",
        "type": "ui_group",
        "name": "Calidad del Aire",
        "tab": "5d2a389b.943628",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "7454169f.5cae58",
        "type": "ui_group",
        "name": "Sonido",
        "tab": "5d2a389b.943628",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "d5d0c6b2.4d60b8",
        "type": "ui_group",
        "name": "Calidad del Aire",
        "tab": "5d2a389b.943628",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "8714eca8.27de2",
        "type": "mqtt-broker",
        "name": "",
        "broker": "iot.inventoteca.com",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "89bb9876.262388",
        "type": "rpi-neopixels",
        "z": "cf4eb861.964c88",
        "name": "",
        "gpio": "12",
        "pixels": "272",
        "bgnd": "",
        "fgnd": "",
        "wipe": "0",
        "mode": "pcentneedle",
        "rgb": "rgb",
        "brightness": "100",
        "gamma": true,
        "x": 1240,
        "y": 200,
        "wires": []
    },
    {
        "id": "60114df0.a12ed4",
        "type": "inject",
        "z": "cf4eb861.964c88",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "20",
        "payloadType": "num",
        "x": 230,
        "y": 500,
        "wires": [
            [
                "93ed252.04163d8",
                "fde8e4e9.057af8"
            ]
        ]
    },
    {
        "id": "e9bf7a44.a76e78",
        "type": "inject",
        "z": "cf4eb861.964c88",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "123.6",
        "payloadType": "num",
        "x": 230,
        "y": 540,
        "wires": [
            [
                "9b7a54ae.2c2f98",
                "c4a734cf.acb8c8"
            ]
        ]
    },
    {
        "id": "b7532d9c.cb1d",
        "type": "json",
        "z": "f15c88c3.1d8bf8",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 350,
        "y": 480,
        "wires": [
            [
                "beab976b.979c18",
                "d21ccf18.c2a83",
                "cd9db8df.39fe48",
                "479e72b1.7146ec"
            ]
        ]
    },
    {
        "id": "f7bfa123.1606a",
        "type": "change",
        "z": "f15c88c3.1d8bf8",
        "name": "payload.dht.temperature",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.dht.temperature",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Temperatura",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 590,
        "y": 120,
        "wires": [
            [
                "2e341ec6.508162",
                "419a9c32.b9f944"
            ]
        ]
    },
    {
        "id": "5916cd03.7d0844",
        "type": "comment",
        "z": "f15c88c3.1d8bf8",
        "name": "Medición de luz",
        "info": "",
        "x": 580,
        "y": 440,
        "wires": []
    },
    {
        "id": "50a31185.dc823",
        "type": "comment",
        "z": "f15c88c3.1d8bf8",
        "name": "Medición de Temperatura",
        "info": "",
        "x": 590,
        "y": 80,
        "wires": []
    },
    {
        "id": "377f8256.1e1b3e",
        "type": "inject",
        "z": "cf4eb861.964c88",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0.785",
        "payloadType": "num",
        "x": 230,
        "y": 580,
        "wires": [
            [
                "12134501.9d02ab",
                "5512bb76.7dc7f4"
            ]
        ]
    },
    {
        "id": "4dd36f90.6fc09",
        "type": "comment",
        "z": "f15c88c3.1d8bf8",
        "name": "Medición de Índice UV",
        "info": "",
        "x": 600,
        "y": 600,
        "wires": []
    },
    {
        "id": "bf933862.6fde18",
        "type": "debug",
        "z": "f15c88c3.1d8bf8",
        "name": "lux",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 970,
        "y": 540,
        "wires": []
    },
    {
        "id": "c36172ea.32c34",
        "type": "debug",
        "z": "f15c88c3.1d8bf8",
        "name": "temp",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 970,
        "y": 180,
        "wires": []
    },
    {
        "id": "9b31a9b4.06a368",
        "type": "debug",
        "z": "f15c88c3.1d8bf8",
        "name": "hum",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 970,
        "y": 360,
        "wires": []
    },
    {
        "id": "9ca4ef8a.4b8cc",
        "type": "debug",
        "z": "f15c88c3.1d8bf8",
        "name": "uv",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 950,
        "y": 700,
        "wires": []
    },
    {
        "id": "d0e15a43.3f02a8",
        "type": "comment",
        "z": "f15c88c3.1d8bf8",
        "name": "Medición de DB",
        "info": "",
        "x": 580,
        "y": 760,
        "wires": []
    },
    {
        "id": "25d38bff.51f874",
        "type": "comment",
        "z": "f15c88c3.1d8bf8",
        "name": "Medición de PPM",
        "info": "",
        "x": 580,
        "y": 920,
        "wires": []
    },
    {
        "id": "c2d46157.59ffd",
        "type": "ui_slider",
        "z": "af48f45.b140f08",
        "name": "",
        "label": "Sobre Límite",
        "tooltip": "R-G-B W=0",
        "group": "a68eebc0.1d6ba8",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "",
        "min": 0,
        "max": "254",
        "step": 1,
        "x": 150,
        "y": 220,
        "wires": [
            [
                "3d61fbe7.ee3544"
            ]
        ]
    },
    {
        "id": "664c48dc.5df9e8",
        "type": "ui_slider",
        "z": "af48f45.b140f08",
        "name": "",
        "label": "En Rango",
        "tooltip": "R-G-B W=0",
        "group": "a68eebc0.1d6ba8",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "",
        "min": 0,
        "max": "254",
        "step": 1,
        "x": 140,
        "y": 180,
        "wires": [
            [
                "e70d0d23.a9031"
            ]
        ]
    },
    {
        "id": "f4e9682a.621288",
        "type": "ui_slider",
        "z": "af48f45.b140f08",
        "name": "",
        "label": "Bajo Límite",
        "tooltip": "R-G-B W=0",
        "group": "a68eebc0.1d6ba8",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "",
        "min": 0,
        "max": "254",
        "step": 1,
        "x": 150,
        "y": 260,
        "wires": [
            [
                "5b6d37b1.b1ed78"
            ]
        ]
    },
    {
        "id": "c5983596.e6ae58",
        "type": "ui_text_input",
        "z": "af48f45.b140f08",
        "name": "",
        "label": "Límite Superior Temp",
        "tooltip": "",
        "group": "d00a1c45.82974",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "mode": "number",
        "delay": "0",
        "topic": "",
        "x": 240,
        "y": 500,
        "wires": [
            [
                "80bf040e.d60b58"
            ]
        ]
    },
    {
        "id": "414f5c8e.451c24",
        "type": "ui_text_input",
        "z": "af48f45.b140f08",
        "name": "",
        "label": "Límite Inferior Temp",
        "tooltip": "",
        "group": "d00a1c45.82974",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "mode": "number",
        "delay": "0",
        "topic": "",
        "x": 230,
        "y": 540,
        "wires": [
            [
                "b9a56e03.3d6a8"
            ]
        ]
    },
    {
        "id": "d742dae3.baa1c8",
        "type": "ui_text_input",
        "z": "af48f45.b140f08",
        "name": "",
        "label": "Límite Superior DB",
        "tooltip": "",
        "group": "d00a1c45.82974",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "mode": "number",
        "delay": "0",
        "topic": "",
        "x": 230,
        "y": 800,
        "wires": [
            [
                "b0ec2dbe.22795"
            ]
        ]
    },
    {
        "id": "565e54a0.dab03c",
        "type": "ui_text_input",
        "z": "af48f45.b140f08",
        "name": "",
        "label": "Límite Inferior DB",
        "tooltip": "",
        "group": "d00a1c45.82974",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "mode": "number",
        "delay": "0",
        "topic": "",
        "x": 230,
        "y": 840,
        "wires": [
            [
                "3612b67a.fdb78a"
            ]
        ]
    },
    {
        "id": "f09fc5b9.059238",
        "type": "ui_text_input",
        "z": "af48f45.b140f08",
        "name": "",
        "label": "Límite Superior Hum",
        "tooltip": "",
        "group": "d00a1c45.82974",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "mode": "number",
        "delay": "0",
        "topic": "",
        "x": 240,
        "y": 600,
        "wires": [
            [
                "93fd1aea.350cf8"
            ]
        ]
    },
    {
        "id": "741ef3f1.3a083c",
        "type": "ui_text_input",
        "z": "af48f45.b140f08",
        "name": "",
        "label": "Límite Inferior Hum",
        "tooltip": "",
        "group": "d00a1c45.82974",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "mode": "number",
        "delay": "0",
        "topic": "",
        "x": 230,
        "y": 640,
        "wires": [
            [
                "cad322d7.6a2ce"
            ]
        ]
    },
    {
        "id": "7379bbd3.4e2db4",
        "type": "ui_text_input",
        "z": "af48f45.b140f08",
        "name": "",
        "label": "Límite Superior UV",
        "tooltip": "",
        "group": "d00a1c45.82974",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "mode": "number",
        "delay": "0",
        "topic": "",
        "x": 230,
        "y": 700,
        "wires": [
            [
                "d5e2d319.c3ac3"
            ]
        ]
    },
    {
        "id": "98c31a11.966318",
        "type": "ui_text_input",
        "z": "af48f45.b140f08",
        "name": "",
        "label": "Límite Inferior UV",
        "tooltip": "",
        "group": "d00a1c45.82974",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "mode": "number",
        "delay": "0",
        "topic": "",
        "x": 230,
        "y": 740,
        "wires": [
            [
                "bbe77b49.f122d8"
            ]
        ]
    },
    {
        "id": "ebc36d2c.0111d",
        "type": "ui_text_input",
        "z": "af48f45.b140f08",
        "name": "",
        "label": "Límite Superior Lux",
        "tooltip": "",
        "group": "d00a1c45.82974",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "mode": "number",
        "delay": "0",
        "topic": "",
        "x": 230,
        "y": 900,
        "wires": [
            [
                "1c971bac.e89d04"
            ]
        ]
    },
    {
        "id": "3bf42045.6f422",
        "type": "ui_text_input",
        "z": "af48f45.b140f08",
        "name": "",
        "label": "Límite Inferior Lux",
        "tooltip": "",
        "group": "d00a1c45.82974",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "mode": "number",
        "delay": "0",
        "topic": "",
        "x": 230,
        "y": 940,
        "wires": [
            [
                "81d59f1c.45f1f"
            ]
        ]
    },
    {
        "id": "ec250e78.3830f",
        "type": "ui_text_input",
        "z": "af48f45.b140f08",
        "name": "",
        "label": "Límite Superior PPM",
        "tooltip": "",
        "group": "d00a1c45.82974",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "mode": "number",
        "delay": "0",
        "topic": "",
        "x": 240,
        "y": 1000,
        "wires": [
            [
                "e9d5b4de.6d0318"
            ]
        ]
    },
    {
        "id": "33d22fc8.d3021",
        "type": "ui_text_input",
        "z": "af48f45.b140f08",
        "name": "",
        "label": "Límite Inferior PPM",
        "tooltip": "",
        "group": "d00a1c45.82974",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "mode": "number",
        "delay": "0",
        "topic": "",
        "x": 230,
        "y": 1040,
        "wires": [
            [
                "3e698dc4.1f57e2"
            ]
        ]
    },
    {
        "id": "3d61fbe7.ee3544",
        "type": "change",
        "z": "af48f45.b140f08",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "ColorSobreLimite",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 220,
        "wires": [
            [
                "94083534.5a34f8",
                "ecc164a5.c9a6a8",
                "99a768ad.6ce6e8"
            ]
        ]
    },
    {
        "id": "e70d0d23.a9031",
        "type": "change",
        "z": "af48f45.b140f08",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "ColorEnRango",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 180,
        "wires": [
            [
                "99a768ad.6ce6e8",
                "ecc164a5.c9a6a8",
                "94083534.5a34f8"
            ]
        ]
    },
    {
        "id": "5b6d37b1.b1ed78",
        "type": "change",
        "z": "af48f45.b140f08",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "ColorBajoLimire",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 260,
        "wires": [
            [
                "94083534.5a34f8",
                "ecc164a5.c9a6a8",
                "99a768ad.6ce6e8"
            ]
        ]
    },
    {
        "id": "80bf040e.d60b58",
        "type": "change",
        "z": "af48f45.b140f08",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "maxErgoTemp",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "b9a56e03.3d6a8",
        "type": "change",
        "z": "af48f45.b140f08",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "minErgoTemp",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "1c971bac.e89d04",
        "type": "change",
        "z": "af48f45.b140f08",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "maxErgoLux",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 900,
        "wires": [
            []
        ]
    },
    {
        "id": "81d59f1c.45f1f",
        "type": "change",
        "z": "af48f45.b140f08",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "minErgoLux",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 940,
        "wires": [
            []
        ]
    },
    {
        "id": "93fd1aea.350cf8",
        "type": "change",
        "z": "af48f45.b140f08",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "maxErgoHum",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "cad322d7.6a2ce",
        "type": "change",
        "z": "af48f45.b140f08",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "minErgoHum",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "d5e2d319.c3ac3",
        "type": "change",
        "z": "af48f45.b140f08",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "maxErgoUV",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "bbe77b49.f122d8",
        "type": "change",
        "z": "af48f45.b140f08",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "minErgoUV",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "b0ec2dbe.22795",
        "type": "change",
        "z": "af48f45.b140f08",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "maxErgoDB",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "3612b67a.fdb78a",
        "type": "change",
        "z": "af48f45.b140f08",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "minErgoDB",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "e9d5b4de.6d0318",
        "type": "change",
        "z": "af48f45.b140f08",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "maxErgoPPM",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 1000,
        "wires": [
            []
        ]
    },
    {
        "id": "3e698dc4.1f57e2",
        "type": "change",
        "z": "af48f45.b140f08",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "minErgoPPM",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 1040,
        "wires": [
            []
        ]
    },
    {
        "id": "923e4aac.c80288",
        "type": "debug",
        "z": "f15c88c3.1d8bf8",
        "name": "db",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 950,
        "y": 900,
        "wires": []
    },
    {
        "id": "6cad0db4.4c1c84",
        "type": "debug",
        "z": "f15c88c3.1d8bf8",
        "name": "ppm",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 950,
        "y": 1020,
        "wires": []
    },
    {
        "id": "94083534.5a34f8",
        "type": "function",
        "z": "af48f45.b140f08",
        "name": "testColor",
        "func": "var col = msg.payload;  // color para Wheel().\n\n\nmsg.payload = \"0,272,\" + Wheel(col);\nnode.send(msg);\n\n\n//--- Input a value 0 to 255 to get a color value r - g - b - back to r\nfunction Wheel( WheelPos)\n{\n\n if (WheelPos == 0)\n  { //Para el color blanco\n    //return \"200,255,200\";\n    return global.get('ColorEnRango');\n  }\n  \n else {\n  WheelPos = 255 - WheelPos;\n  if (WheelPos < 85 && WheelPos >0 )\n  {\n    return (255-WheelPos*3) + \",\" + 0 + \",\" + (WheelPos*3);\n  }\n  \n  else if (WheelPos < 170)\n  {\n    WheelPos -= 85;\n    return  0 + \",\" + (WheelPos*3) + \",\" + (255-WheelPos*3);\n  }\n  \n  else\n  {\n    WheelPos -= 170;\n    return (WheelPos*3) + \",\" + (255-WheelPos*3) + \",\" + 0;\n  }\n}\n}\n\nreturn;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 800,
        "y": 260,
        "wires": [
            [
                "1a7f1500.a33a7b"
            ]
        ]
    },
    {
        "id": "1a7f1500.a33a7b",
        "type": "link out",
        "z": "af48f45.b140f08",
        "name": "fromColorTester",
        "links": [
            "44351bbd.4fdf94"
        ],
        "x": 915,
        "y": 260,
        "wires": []
    },
    {
        "id": "44351bbd.4fdf94",
        "type": "link in",
        "z": "cf4eb861.964c88",
        "name": "toNeopixelNode",
        "links": [
            "1a7f1500.a33a7b",
            "b1aa92b3.9f567"
        ],
        "x": 1115,
        "y": 200,
        "wires": [
            [
                "89bb9876.262388"
            ]
        ]
    },
    {
        "id": "38bd160c.8624da",
        "type": "link out",
        "z": "af48f45.b140f08",
        "name": "fromEndColorTester",
        "links": [
            "1af4012d.4e34ff",
            "9bf1efad.9d235",
            "cdf6951b.e464b8",
            "d706a7fb.398338",
            "dcd1a70a.f7e738",
            "defd610b.709a1"
        ],
        "x": 1395,
        "y": 180,
        "wires": []
    },
    {
        "id": "cf7159e1.54dd98",
        "type": "link in",
        "z": "cf4eb861.964c88",
        "name": "toRelanzarUltimaMedicionLUX",
        "links": [
            "483c8c74.134a04"
        ],
        "x": 175,
        "y": 260,
        "wires": [
            [
                "413f1db1.43d8f4"
            ]
        ]
    },
    {
        "id": "413f1db1.43d8f4",
        "type": "change",
        "z": "cf4eb861.964c88",
        "name": "ÚltimoValorLUX",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "currentLux",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 260,
        "wires": [
            [
                "20e0d0ea.4ebba"
            ]
        ]
    },
    {
        "id": "aa61d0d5.57807",
        "type": "link in",
        "z": "cf4eb861.964c88",
        "name": "toRelanzarUltimaMedicionDB",
        "links": [
            "bedea034.18a55"
        ],
        "x": 175,
        "y": 220,
        "wires": [
            [
                "f529eb3a.58fd78"
            ]
        ]
    },
    {
        "id": "f529eb3a.58fd78",
        "type": "change",
        "z": "cf4eb861.964c88",
        "name": "ÚltimoValorDB",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "currentDB",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 220,
        "wires": [
            [
                "c3f306ab.3be788"
            ]
        ]
    },
    {
        "id": "f8fc66a0.9ea338",
        "type": "link in",
        "z": "cf4eb861.964c88",
        "name": "toRelanzarUltimaMedicionUV",
        "links": [
            "705d30a8.42f9f"
        ],
        "x": 175,
        "y": 180,
        "wires": [
            [
                "48e1e9db.beb5f8"
            ]
        ]
    },
    {
        "id": "48e1e9db.beb5f8",
        "type": "change",
        "z": "cf4eb861.964c88",
        "name": "ÚltimoValorUV",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "currentUV",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 180,
        "wires": [
            [
                "9bbb1af1.b5bef8"
            ]
        ]
    },
    {
        "id": "671e37ae.a0a358",
        "type": "link in",
        "z": "cf4eb861.964c88",
        "name": "toRelanzarUltimaMedicionHUM",
        "links": [
            "dbdf8f.446c807"
        ],
        "x": 175,
        "y": 140,
        "wires": [
            [
                "64c74097.0c4ac"
            ]
        ]
    },
    {
        "id": "64c74097.0c4ac",
        "type": "change",
        "z": "cf4eb861.964c88",
        "name": "ÚltimoValorHUM",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "currentHum",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 140,
        "wires": [
            [
                "13ccb17c.3685ef"
            ]
        ]
    },
    {
        "id": "35c7c46d.079d7c",
        "type": "link in",
        "z": "cf4eb861.964c88",
        "name": "toRelanzarUltimaMedicionTEMP",
        "links": [
            "235f557c.d293ea"
        ],
        "x": 175,
        "y": 100,
        "wires": [
            [
                "1348b285.7cf52d"
            ]
        ]
    },
    {
        "id": "1348b285.7cf52d",
        "type": "change",
        "z": "cf4eb861.964c88",
        "name": "ÚltimoValorTEMP",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "currentTemp",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 100,
        "wires": [
            [
                "471e9447.a99aec"
            ]
        ]
    },
    {
        "id": "8b89f55a.8197e8",
        "type": "link in",
        "z": "cf4eb861.964c88",
        "name": "toRelanzarUltimaMedicionPPM",
        "links": [
            "962f6f64.c20ed"
        ],
        "x": 175,
        "y": 300,
        "wires": [
            [
                "9d54dc0b.8e5a4"
            ]
        ]
    },
    {
        "id": "9d54dc0b.8e5a4",
        "type": "change",
        "z": "cf4eb861.964c88",
        "name": "ÚltimoValorPPM",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "currentPPM",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 300,
        "wires": [
            [
                "b66c7040.5c14d"
            ]
        ]
    },
    {
        "id": "8ec3a41c.f25008",
        "type": "link out",
        "z": "69a283fa.9a5a2c",
        "name": "ToTelegram",
        "links": [
            "ab026bfd.bfdf78",
            "41bbf922.e61fd8"
        ],
        "x": 1095,
        "y": 160,
        "wires": []
    },
    {
        "id": "31a9642.726259c",
        "type": "function",
        "z": "69a283fa.9a5a2c",
        "name": "Formato ui",
        "func": "var text = msg.payload;\nmsg.payload='Tu nuevo acceso remoto ngrok es: '+ text + '/ui';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 930,
        "y": 140,
        "wires": [
            [
                "8ec3a41c.f25008",
                "ad966ee8.8e6dc"
            ]
        ]
    },
    {
        "id": "52837dbf.618e94",
        "type": "switch",
        "z": "69a283fa.9a5a2c",
        "name": "filtro \"null\"",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nnull"
            },
            {
                "t": "null"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 590,
        "y": 100,
        "wires": [
            [
                "545faaae.a728f4"
            ],
            [
                "b95afa42.9f73e8"
            ]
        ]
    },
    {
        "id": "50211204.21812c",
        "type": "function",
        "z": "69a283fa.9a5a2c",
        "name": "Formato editor",
        "func": "var text = msg.payload;\nmsg.payload='Tu nuevo acceso remoto ngrok es: '+ text + '';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 920,
        "y": 100,
        "wires": [
            [
                "8ec3a41c.f25008",
                "ad966ee8.8e6dc"
            ]
        ]
    },
    {
        "id": "545faaae.a728f4",
        "type": "switch",
        "z": "69a283fa.9a5a2c",
        "name": "topic",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "editor",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "ui",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 750,
        "y": 100,
        "wires": [
            [
                "50211204.21812c"
            ],
            [
                "31a9642.726259c"
            ]
        ]
    },
    {
        "id": "cc297b90.e358a8",
        "type": "link in",
        "z": "69a283fa.9a5a2c",
        "name": "toNgrok",
        "links": [
            "b05ece46.f4d3d"
        ],
        "x": 155,
        "y": 160,
        "wires": [
            [
                "e88e25bb.7c9c48"
            ]
        ]
    },
    {
        "id": "b95afa42.9f73e8",
        "type": "change",
        "z": "69a283fa.9a5a2c",
        "name": "Off noti",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Acceso ngrok apagado.",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 940,
        "y": 180,
        "wires": [
            [
                "8ec3a41c.f25008",
                "ad966ee8.8e6dc"
            ]
        ]
    },
    {
        "id": "edf19331.165f5",
        "type": "ngrok",
        "z": "69a283fa.9a5a2c",
        "port": "1880",
        "creds": "ad639dd2.96355",
        "region": "us",
        "subdomain": "",
        "name": "ngrok:1880",
        "auth": "",
        "x": 410,
        "y": 120,
        "wires": [
            [
                "52837dbf.618e94"
            ]
        ]
    },
    {
        "id": "e88e25bb.7c9c48",
        "type": "switch",
        "z": "69a283fa.9a5a2c",
        "name": "topic",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ui",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "editor",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "octoprint",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 3,
        "x": 250,
        "y": 160,
        "wires": [
            [
                "edf19331.165f5"
            ],
            [
                "edf19331.165f5"
            ],
            [
                "d8cd3918.f426c8"
            ]
        ]
    },
    {
        "id": "97456396.992a5",
        "type": "comment",
        "z": "69a283fa.9a5a2c",
        "name": "Añade el \"/xxx\" si aplica",
        "info": "",
        "x": 920,
        "y": 60,
        "wires": []
    },
    {
        "id": "4bf7fe54.68b73",
        "type": "debug",
        "z": "2de0f07d.fb2df",
        "name": "Telegram",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1200,
        "y": 100,
        "wires": []
    },
    {
        "id": "1e40cf86.c6374",
        "type": "function",
        "z": "2de0f07d.fb2df",
        "name": "Formato para Telegram",
        "func": "//msg._msgid = flow.get(\"_msgid\");\n\nvar text = msg.payload;\n\nmsg.payload='{\\n\"text\": \"'+ text + '\"\\n}'\n\n//',\\n\"parse_mode\": \"Markdown\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 990,
        "y": 140,
        "wires": [
            [
                "b5b8659d.ad9168",
                "4bf7fe54.68b73"
            ]
        ]
    },
    {
        "id": "ab026bfd.bfdf78",
        "type": "link in",
        "z": "2de0f07d.fb2df",
        "name": "toTelegram",
        "links": [
            "2ee2f44.af4b60c",
            "d6c75b00.d39148",
            "592da6a.2e70a58",
            "9d675fa0.f90c",
            "ec254b84.b17bc8",
            "a3fe156e.ad71d8",
            "73af0803.c282c8",
            "2c8ae8da.bf31f8",
            "dc5307d8.6fd2e8",
            "4905f533.8fc32c",
            "8ec3a41c.f25008",
            "9532c2cf.fc3af",
            "3126966f.81c91a"
        ],
        "x": 835,
        "y": 140,
        "wires": [
            [
                "1e40cf86.c6374"
            ]
        ]
    },
    {
        "id": "6b4203bc.96b88c",
        "type": "change",
        "z": "2de0f07d.fb2df",
        "name": "on",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "on",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 120,
        "wires": [
            [
                "b05ece46.f4d3d"
            ]
        ]
    },
    {
        "id": "6da09b5c.5385a4",
        "type": "change",
        "z": "2de0f07d.fb2df",
        "name": "ui",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "ui",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 80,
        "wires": [
            [
                "6b4203bc.96b88c"
            ]
        ]
    },
    {
        "id": "feac85f0.9d9068",
        "type": "change",
        "z": "2de0f07d.fb2df",
        "name": "editor",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "editor",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 120,
        "wires": [
            [
                "6b4203bc.96b88c"
            ]
        ]
    },
    {
        "id": "b05ece46.f4d3d",
        "type": "link out",
        "z": "2de0f07d.fb2df",
        "name": "ToNgrok",
        "links": [
            "7c697255.b465fc",
            "1e91adea.262222",
            "cc297b90.e358a8"
        ],
        "x": 695,
        "y": 140,
        "wires": []
    },
    {
        "id": "2c8d0ac5.d23f36",
        "type": "change",
        "z": "2de0f07d.fb2df",
        "name": "off",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "off",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 160,
        "wires": [
            [
                "b05ece46.f4d3d"
            ]
        ]
    },
    {
        "id": "eeb46ce4.e1179",
        "type": "change",
        "z": "2de0f07d.fb2df",
        "name": "editor",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "editor",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 160,
        "wires": [
            [
                "2c8d0ac5.d23f36"
            ]
        ]
    },
    {
        "id": "feabaadb.ba5e18",
        "type": "telegrambot-command",
        "z": "2de0f07d.fb2df",
        "name": "/ngrok",
        "bot": "13325c7e.01d734",
        "command": "/ngrok",
        "commandType": "str",
        "commandCase": false,
        "x": 90,
        "y": 120,
        "wires": [
            [
                "85a2560e.0fc9e8"
            ]
        ]
    },
    {
        "id": "85a2560e.0fc9e8",
        "type": "telegrambot-switch",
        "z": "2de0f07d.fb2df",
        "name": "",
        "bot": "13325c7e.01d734",
        "chatId": "",
        "question": "ui or editor?",
        "answers": [
            "ui",
            "editor",
            "off"
        ],
        "outputs": 3,
        "autoAnswerCallback": true,
        "timeoutValue": "",
        "timeoutUnits": "",
        "x": 240,
        "y": 120,
        "wires": [
            [
                "6da09b5c.5385a4"
            ],
            [
                "feac85f0.9d9068"
            ],
            [
                "eeb46ce4.e1179"
            ]
        ]
    },
    {
        "id": "b5b8659d.ad9168",
        "type": "telegrambot-payload",
        "z": "2de0f07d.fb2df",
        "name": "Send",
        "bot": "13325c7e.01d734",
        "chatId": "",
        "sendMethod": "sendMessage",
        "payload": "",
        "x": 1190,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "2b277841.d47e58",
        "type": "inject",
        "z": "7f137852.8b9328",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "sudo reboot",
        "payloadType": "str",
        "x": 590,
        "y": 100,
        "wires": [
            [
                "5f42b30b.baefac"
            ]
        ]
    },
    {
        "id": "5f42b30b.baefac",
        "type": "exec",
        "z": "7f137852.8b9328",
        "command": "sudo reboot now",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 910,
        "y": 100,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "c7dc3767.abafd8",
        "type": "inject",
        "z": "7f137852.8b9328",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "sudo halt",
        "payloadType": "str",
        "x": 580,
        "y": 151.25000190734863,
        "wires": [
            [
                "6ea70a47.2ae674"
            ]
        ]
    },
    {
        "id": "251b557b.e61f7a",
        "type": "link in",
        "z": "7f137852.8b9328",
        "name": "sistema-reiniciar",
        "links": [
            "6a520e15.ac8b1",
            "3fef1992.0aabb6"
        ],
        "x": 735,
        "y": 100,
        "wires": [
            [
                "5f42b30b.baefac"
            ]
        ]
    },
    {
        "id": "68f0bf15.0668",
        "type": "comment",
        "z": "7f137852.8b9328",
        "name": "Básicas ",
        "info": "",
        "x": 550,
        "y": 40,
        "wires": []
    },
    {
        "id": "6ea70a47.2ae674",
        "type": "exec",
        "z": "7f137852.8b9328",
        "command": "sudo halt",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 900,
        "y": 151.25000190734863,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "91876530.101f28",
        "type": "link in",
        "z": "7f137852.8b9328",
        "name": "sistema-apagar",
        "links": [
            "b30fea42.8f09c8",
            "cdf0abde.c1eb28",
            "814cc8d0.e42f98"
        ],
        "x": 735,
        "y": 151.25000190734863,
        "wires": [
            [
                "6ea70a47.2ae674"
            ]
        ]
    },
    {
        "id": "cbb36376.c561c",
        "type": "ui_button",
        "z": "7f137852.8b9328",
        "name": "",
        "group": "5236b089.d4c8b",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Apagar",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "¿Apagar?",
        "payloadType": "str",
        "topic": "",
        "x": 100,
        "y": 100,
        "wires": [
            [
                "2bf2cc62.b20d14"
            ]
        ]
    },
    {
        "id": "814cc8d0.e42f98",
        "type": "link out",
        "z": "7f137852.8b9328",
        "name": "from-ui-apagar",
        "links": [
            "91bf57d9.5736c8",
            "91876530.101f28"
        ],
        "x": 415,
        "y": 100,
        "wires": []
    },
    {
        "id": "c7a4dd1a.ef02e",
        "type": "ui_button",
        "z": "7f137852.8b9328",
        "name": "",
        "group": "5236b089.d4c8b",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Reiniciar",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "¿Reiniciar?",
        "payloadType": "str",
        "topic": "",
        "x": 100,
        "y": 140,
        "wires": [
            [
                "b2d323f.56ae5e"
            ]
        ]
    },
    {
        "id": "dcb8e334.c4f29",
        "type": "comment",
        "z": "7f137852.8b9328",
        "name": "Básicos",
        "info": "",
        "x": 90,
        "y": 40,
        "wires": []
    },
    {
        "id": "2bf2cc62.b20d14",
        "type": "ui_toast",
        "z": "7f137852.8b9328",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "topic": "",
        "name": "",
        "x": 270,
        "y": 100,
        "wires": [
            [
                "814cc8d0.e42f98"
            ]
        ]
    },
    {
        "id": "3fef1992.0aabb6",
        "type": "link out",
        "z": "7f137852.8b9328",
        "name": "from-ui-reiniciar",
        "links": [
            "cb98fd1d.23657",
            "251b557b.e61f7a"
        ],
        "x": 415,
        "y": 140,
        "wires": []
    },
    {
        "id": "b2d323f.56ae5e",
        "type": "ui_toast",
        "z": "7f137852.8b9328",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "topic": "",
        "name": "",
        "x": 270,
        "y": 140,
        "wires": [
            [
                "3fef1992.0aabb6"
            ]
        ]
    },
    {
        "id": "99a768ad.6ce6e8",
        "type": "change",
        "z": "af48f45.b140f08",
        "name": "true global.colorTestOn",
        "rules": [
            {
                "t": "set",
                "p": "colorTestOn",
                "pt": "global",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 850,
        "y": 180,
        "wires": [
            [
                "3661926d.5169ae"
            ]
        ]
    },
    {
        "id": "3661926d.5169ae",
        "type": "trigger",
        "z": "af48f45.b140f08",
        "name": "",
        "op1": "",
        "op2": "0",
        "op1type": "nul",
        "op2type": "str",
        "duration": "3",
        "extend": true,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1060,
        "y": 180,
        "wires": [
            [
                "318e8e2c.1da9c2"
            ]
        ]
    },
    {
        "id": "318e8e2c.1da9c2",
        "type": "change",
        "z": "af48f45.b140f08",
        "name": "false global.colorTestOn",
        "rules": [
            {
                "t": "set",
                "p": "colorTestOn",
                "pt": "global",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1250,
        "y": 180,
        "wires": [
            [
                "38bd160c.8624da"
            ]
        ]
    },
    {
        "id": "44175d1c.b69e74",
        "type": "inject",
        "z": "af48f45.b140f08",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "num",
        "x": 1070,
        "y": 220,
        "wires": [
            [
                "318e8e2c.1da9c2"
            ]
        ]
    },
    {
        "id": "ecc164a5.c9a6a8",
        "type": "ui_text",
        "z": "af48f45.b140f08",
        "group": "a68eebc0.1d6ba8",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Color seleccionado:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 830,
        "y": 220,
        "wires": []
    },
    {
        "id": "9bf1efad.9d235",
        "type": "link in",
        "z": "c38c08a9.69fc18",
        "name": "toRelanzarUltimaMedicion",
        "links": [
            "38bd160c.8624da",
            "1554457f.975ecb",
            "2f3bccba.2301e4"
        ],
        "x": 115,
        "y": 100,
        "wires": [
            [
                "17313c68.b873a4"
            ]
        ]
    },
    {
        "id": "17313c68.b873a4",
        "type": "change",
        "z": "c38c08a9.69fc18",
        "name": "ÚltimoValorL",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "currentLux",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 250,
        "y": 100,
        "wires": [
            [
                "5fe8e85f.113468"
            ]
        ]
    },
    {
        "id": "1af4012d.4e34ff",
        "type": "link in",
        "z": "c38c08a9.69fc18",
        "name": "toRelanzarUltimaMedicion",
        "links": [
            "38bd160c.8624da",
            "1554457f.975ecb",
            "2f3bccba.2301e4"
        ],
        "x": 115,
        "y": 660,
        "wires": [
            [
                "434fd69d.d28a88"
            ]
        ]
    },
    {
        "id": "434fd69d.d28a88",
        "type": "change",
        "z": "c38c08a9.69fc18",
        "name": "ÚltimoValorD",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "currentDB",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 250,
        "y": 660,
        "wires": [
            [
                "9004acf7.9de09"
            ]
        ]
    },
    {
        "id": "dcd1a70a.f7e738",
        "type": "link in",
        "z": "c38c08a9.69fc18",
        "name": "toRelanzarUltimaMedicion",
        "links": [
            "38bd160c.8624da",
            "1554457f.975ecb",
            "2f3bccba.2301e4"
        ],
        "x": 115,
        "y": 520,
        "wires": [
            [
                "878b2030.a2b19"
            ]
        ]
    },
    {
        "id": "878b2030.a2b19",
        "type": "change",
        "z": "c38c08a9.69fc18",
        "name": "ÚltimoValorU",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "currentUV",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 250,
        "y": 520,
        "wires": [
            [
                "83d17a28.450228"
            ]
        ]
    },
    {
        "id": "defd610b.709a1",
        "type": "link in",
        "z": "c38c08a9.69fc18",
        "name": "toRelanzarUltimaMedicion",
        "links": [
            "38bd160c.8624da",
            "1554457f.975ecb",
            "2f3bccba.2301e4"
        ],
        "x": 115,
        "y": 380,
        "wires": [
            [
                "9ed2f98f.aa5578"
            ]
        ]
    },
    {
        "id": "9ed2f98f.aa5578",
        "type": "change",
        "z": "c38c08a9.69fc18",
        "name": "ÚltimoValorH",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "currentHum",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 250,
        "y": 380,
        "wires": [
            [
                "684351a0.537d6"
            ]
        ]
    },
    {
        "id": "cdf6951b.e464b8",
        "type": "link in",
        "z": "c38c08a9.69fc18",
        "name": "toRelanzarUltimaMedicion",
        "links": [
            "38bd160c.8624da",
            "1554457f.975ecb",
            "2f3bccba.2301e4"
        ],
        "x": 115,
        "y": 240,
        "wires": [
            [
                "e7786368.d0d45"
            ]
        ]
    },
    {
        "id": "e7786368.d0d45",
        "type": "change",
        "z": "c38c08a9.69fc18",
        "name": "ÚltimoValorT",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "currentTemp",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 250,
        "y": 240,
        "wires": [
            [
                "f8760a6b.964718"
            ]
        ]
    },
    {
        "id": "d706a7fb.398338",
        "type": "link in",
        "z": "c38c08a9.69fc18",
        "name": "toRelanzarUltimaMedicion",
        "links": [
            "38bd160c.8624da",
            "1554457f.975ecb",
            "2f3bccba.2301e4"
        ],
        "x": 115,
        "y": 800,
        "wires": [
            [
                "767ccc8c.8da354"
            ]
        ]
    },
    {
        "id": "767ccc8c.8da354",
        "type": "change",
        "z": "c38c08a9.69fc18",
        "name": "ÚltimoValorP",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "currentPPM",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 250,
        "y": 800,
        "wires": [
            [
                "28201678.c372ba"
            ]
        ]
    },
    {
        "id": "a9d95b04.3d0408",
        "type": "change",
        "z": "c38c08a9.69fc18",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "colTemp",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1230,
        "y": 240,
        "wires": [
            [
                "235f557c.d293ea"
            ]
        ]
    },
    {
        "id": "4f4692.ed0c997",
        "type": "inject",
        "z": "c38c08a9.69fc18",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 1070,
        "y": 240,
        "wires": [
            [
                "a9d95b04.3d0408"
            ]
        ]
    },
    {
        "id": "eb663485.f59578",
        "type": "change",
        "z": "c38c08a9.69fc18",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "colHum",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1230,
        "y": 380,
        "wires": [
            [
                "dbdf8f.446c807"
            ]
        ]
    },
    {
        "id": "23c3ff92.b22c5",
        "type": "inject",
        "z": "c38c08a9.69fc18",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 1070,
        "y": 380,
        "wires": [
            [
                "eb663485.f59578"
            ]
        ]
    },
    {
        "id": "af5486d0.32fe78",
        "type": "change",
        "z": "c38c08a9.69fc18",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "colUV",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1240,
        "y": 520,
        "wires": [
            [
                "705d30a8.42f9f"
            ]
        ]
    },
    {
        "id": "65cd31d3.4e50a",
        "type": "inject",
        "z": "c38c08a9.69fc18",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 1070,
        "y": 520,
        "wires": [
            [
                "af5486d0.32fe78"
            ]
        ]
    },
    {
        "id": "5cccc12d.4d5a",
        "type": "change",
        "z": "c38c08a9.69fc18",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "colDB",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1240,
        "y": 660,
        "wires": [
            [
                "bedea034.18a55"
            ]
        ]
    },
    {
        "id": "e016b3b2.4ea9",
        "type": "inject",
        "z": "c38c08a9.69fc18",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 1070,
        "y": 660,
        "wires": [
            [
                "5cccc12d.4d5a"
            ]
        ]
    },
    {
        "id": "cf1084e7.c63fc8",
        "type": "change",
        "z": "c38c08a9.69fc18",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "colLUX",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1230,
        "y": 100,
        "wires": [
            [
                "483c8c74.134a04"
            ]
        ]
    },
    {
        "id": "45c4fed6.3ff76",
        "type": "inject",
        "z": "c38c08a9.69fc18",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 1070,
        "y": 100,
        "wires": [
            [
                "cf1084e7.c63fc8"
            ]
        ]
    },
    {
        "id": "e28984d0.d8eda8",
        "type": "change",
        "z": "c38c08a9.69fc18",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "colPPM",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1230,
        "y": 800,
        "wires": [
            [
                "962f6f64.c20ed"
            ]
        ]
    },
    {
        "id": "9259da6a.978e08",
        "type": "inject",
        "z": "c38c08a9.69fc18",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 1070,
        "y": 800,
        "wires": [
            [
                "e28984d0.d8eda8"
            ]
        ]
    },
    {
        "id": "5fe8e85f.113468",
        "type": "switch",
        "z": "c38c08a9.69fc18",
        "name": "Rango Colores Lux",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "maxErgoLux",
                "vt": "global"
            },
            {
                "t": "lte",
                "v": "minErgoLux",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 630,
        "y": 100,
        "wires": [
            [
                "6311f9b7.072c58"
            ],
            [
                "83a4719.49e539"
            ],
            [
                "e702f358.7f6f4"
            ]
        ]
    },
    {
        "id": "f8760a6b.964718",
        "type": "switch",
        "z": "c38c08a9.69fc18",
        "name": "Rango Colores Temp",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "maxErgoTemp",
                "vt": "global"
            },
            {
                "t": "lte",
                "v": "minErgoTemp",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 620,
        "y": 240,
        "wires": [
            [
                "d50c0a74.948748"
            ],
            [
                "fc466192.5303c"
            ],
            [
                "e06dd47a.d78198"
            ]
        ]
    },
    {
        "id": "684351a0.537d6",
        "type": "switch",
        "z": "c38c08a9.69fc18",
        "name": "Rango Colores Hum",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "maxErgoHum",
                "vt": "global"
            },
            {
                "t": "lte",
                "v": "minErgoHum",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 620,
        "y": 380,
        "wires": [
            [
                "f4d5d5d2.080648"
            ],
            [
                "6d299d80.333164"
            ],
            [
                "262c0c5e.594cc4"
            ]
        ]
    },
    {
        "id": "83d17a28.450228",
        "type": "switch",
        "z": "c38c08a9.69fc18",
        "name": "Rango Colores UV",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "maxErgoUV",
                "vt": "global"
            },
            {
                "t": "lte",
                "v": "minErgoUV",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 630,
        "y": 520,
        "wires": [
            [
                "5e93b82b.cd8568"
            ],
            [
                "d46b5472.a8c458"
            ],
            [
                "b3c60d01.449d2"
            ]
        ]
    },
    {
        "id": "9004acf7.9de09",
        "type": "switch",
        "z": "c38c08a9.69fc18",
        "name": "Rango Colores DB",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "maxErgoDB",
                "vt": "global"
            },
            {
                "t": "lte",
                "v": "minErgoDB",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 630,
        "y": 660,
        "wires": [
            [
                "6dfe0215.38d2fc"
            ],
            [
                "44ab8d47.039e14"
            ],
            [
                "8a71d868.3f33c8"
            ]
        ]
    },
    {
        "id": "28201678.c372ba",
        "type": "switch",
        "z": "c38c08a9.69fc18",
        "name": "Rango Colores PPM",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "maxErgoPPM",
                "vt": "global"
            },
            {
                "t": "lte",
                "v": "minErgoPPM",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 620,
        "y": 800,
        "wires": [
            [
                "82602299.f1c16"
            ],
            [
                "72a62e21.e3296"
            ],
            [
                "e06cda4d.6dc0c8"
            ]
        ]
    },
    {
        "id": "6311f9b7.072c58",
        "type": "change",
        "z": "c38c08a9.69fc18",
        "name": "ColorSobreLimite",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "ColorSobreLimite",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 850,
        "y": 60,
        "wires": [
            [
                "cf1084e7.c63fc8"
            ]
        ]
    },
    {
        "id": "e702f358.7f6f4",
        "type": "change",
        "z": "c38c08a9.69fc18",
        "name": "ColorEnRango",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 840,
        "y": 100,
        "wires": [
            [
                "cf1084e7.c63fc8"
            ]
        ]
    },
    {
        "id": "83a4719.49e539",
        "type": "change",
        "z": "c38c08a9.69fc18",
        "name": "ColorBajoLimite",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "ColorBajoLimite",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 840,
        "y": 140,
        "wires": [
            [
                "cf1084e7.c63fc8"
            ]
        ]
    },
    {
        "id": "d50c0a74.948748",
        "type": "change",
        "z": "c38c08a9.69fc18",
        "name": "ColorSobreLimite",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "ColorSobreLimite",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 850,
        "y": 200,
        "wires": [
            [
                "a9d95b04.3d0408"
            ]
        ]
    },
    {
        "id": "e06dd47a.d78198",
        "type": "change",
        "z": "c38c08a9.69fc18",
        "name": "ColorEnRango",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 840,
        "y": 240,
        "wires": [
            [
                "a9d95b04.3d0408"
            ]
        ]
    },
    {
        "id": "fc466192.5303c",
        "type": "change",
        "z": "c38c08a9.69fc18",
        "name": "ColorBajoLimite",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "ColorBajoLimite",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 840,
        "y": 280,
        "wires": [
            [
                "a9d95b04.3d0408"
            ]
        ]
    },
    {
        "id": "f4d5d5d2.080648",
        "type": "change",
        "z": "c38c08a9.69fc18",
        "name": "ColorSobreLimite",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "ColorSobreLimite",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 850,
        "y": 340,
        "wires": [
            [
                "eb663485.f59578"
            ]
        ]
    },
    {
        "id": "262c0c5e.594cc4",
        "type": "change",
        "z": "c38c08a9.69fc18",
        "name": "ColorEnRango",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 840,
        "y": 380,
        "wires": [
            [
                "eb663485.f59578"
            ]
        ]
    },
    {
        "id": "6d299d80.333164",
        "type": "change",
        "z": "c38c08a9.69fc18",
        "name": "ColorBajoLimite",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "ColorBajoLimite",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 840,
        "y": 420,
        "wires": [
            [
                "eb663485.f59578"
            ]
        ]
    },
    {
        "id": "5e93b82b.cd8568",
        "type": "change",
        "z": "c38c08a9.69fc18",
        "name": "ColorSobreLimite",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "ColorSobreLimite",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 850,
        "y": 480,
        "wires": [
            [
                "af5486d0.32fe78"
            ]
        ]
    },
    {
        "id": "b3c60d01.449d2",
        "type": "change",
        "z": "c38c08a9.69fc18",
        "name": "ColorEnRango",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 840,
        "y": 520,
        "wires": [
            [
                "af5486d0.32fe78"
            ]
        ]
    },
    {
        "id": "d46b5472.a8c458",
        "type": "change",
        "z": "c38c08a9.69fc18",
        "name": "ColorBajoLimite",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "ColorBajoLimite",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 840,
        "y": 560,
        "wires": [
            [
                "af5486d0.32fe78"
            ]
        ]
    },
    {
        "id": "6dfe0215.38d2fc",
        "type": "change",
        "z": "c38c08a9.69fc18",
        "name": "ColorSobreLimite",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "ColorSobreLimite",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 850,
        "y": 620,
        "wires": [
            [
                "5cccc12d.4d5a"
            ]
        ]
    },
    {
        "id": "8a71d868.3f33c8",
        "type": "change",
        "z": "c38c08a9.69fc18",
        "name": "ColorEnRango",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 840,
        "y": 660,
        "wires": [
            [
                "5cccc12d.4d5a"
            ]
        ]
    },
    {
        "id": "44ab8d47.039e14",
        "type": "change",
        "z": "c38c08a9.69fc18",
        "name": "ColorBajoLimite",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "ColorBajoLimite",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 840,
        "y": 700,
        "wires": [
            [
                "5cccc12d.4d5a"
            ]
        ]
    },
    {
        "id": "82602299.f1c16",
        "type": "change",
        "z": "c38c08a9.69fc18",
        "name": "ColorSobreLimite",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "ColorSobreLimite",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 850,
        "y": 760,
        "wires": [
            [
                "e28984d0.d8eda8"
            ]
        ]
    },
    {
        "id": "e06cda4d.6dc0c8",
        "type": "change",
        "z": "c38c08a9.69fc18",
        "name": "ColorEnRango",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 840,
        "y": 800,
        "wires": [
            [
                "e28984d0.d8eda8"
            ]
        ]
    },
    {
        "id": "72a62e21.e3296",
        "type": "change",
        "z": "c38c08a9.69fc18",
        "name": "ColorBajoLimite",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "ColorBajoLimite",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 840,
        "y": 840,
        "wires": [
            [
                "e28984d0.d8eda8"
            ]
        ]
    },
    {
        "id": "200580c3.d5c42",
        "type": "link in",
        "z": "c38c08a9.69fc18",
        "name": "toLuxNeoDisplay",
        "links": [
            "3aabbf65.f1a2a",
            "c4a734cf.acb8c8",
            "f6c5a013.9c1f8",
            "d3cbcb07.b53728",
            "9f439998.fbbbf8",
            "ed4aa04a.889fd"
        ],
        "x": 475,
        "y": 120,
        "wires": [
            [
                "5fe8e85f.113468"
            ]
        ]
    },
    {
        "id": "368e7783.a36588",
        "type": "link in",
        "z": "c38c08a9.69fc18",
        "name": "toTempNeoDisplay",
        "links": [
            "14643d39.4cfb63",
            "93ed252.04163d8",
            "193f6a50.8d5ae6",
            "663b4cb6.c1d364",
            "be1865b.aad9f98",
            "6b148b63.234264"
        ],
        "x": 475,
        "y": 300,
        "wires": [
            [
                "f8760a6b.964718"
            ]
        ]
    },
    {
        "id": "fcf2e33.79d542",
        "type": "link in",
        "z": "c38c08a9.69fc18",
        "name": "toHumNeoDisplay",
        "links": [
            "e26e5d3b.d4b0c",
            "9b7a54ae.2c2f98",
            "5089a2d3.0f52ac",
            "cc72e6f3.380458",
            "33f77a04.714b86",
            "bffc6073.84147"
        ],
        "x": 475,
        "y": 400,
        "wires": [
            [
                "684351a0.537d6"
            ]
        ]
    },
    {
        "id": "2d48cc28.e5c9a4",
        "type": "link in",
        "z": "c38c08a9.69fc18",
        "name": "toUVNeoDisplay",
        "links": [
            "a54f3ce9.21c06",
            "9f80c57e.e2d2f8",
            "12134501.9d02ab",
            "ad6b09d4.5b4e88",
            "49b14bc8.a7b7d4",
            "324805d0.6cc1aa",
            "b1347ccc.08c68"
        ],
        "x": 475,
        "y": 540,
        "wires": [
            [
                "83d17a28.450228"
            ]
        ]
    },
    {
        "id": "8fcee55b.025d28",
        "type": "link in",
        "z": "c38c08a9.69fc18",
        "name": "toDBNeoDisplay",
        "links": [
            "5b4542e0.2bff0c",
            "fde8e4e9.057af8",
            "209ce585.3bd34a",
            "ace3f852.934b28",
            "ba16dba5.a92d58",
            "da4ddda9.313ed"
        ],
        "x": 475,
        "y": 680,
        "wires": [
            [
                "9004acf7.9de09"
            ]
        ]
    },
    {
        "id": "2e017f19.e00c9",
        "type": "link in",
        "z": "c38c08a9.69fc18",
        "name": "toPPMNeoDisplay",
        "links": [
            "b02665a9.641088",
            "5512bb76.7dc7f4",
            "2f67091d.60f986",
            "96ac58e8.668788",
            "e7ca0e1c.5347b",
            "34cf6ec0.392532"
        ],
        "x": 475,
        "y": 820,
        "wires": [
            [
                "28201678.c372ba"
            ]
        ]
    },
    {
        "id": "b1aa92b3.9f567",
        "type": "link out",
        "z": "cf4eb861.964c88",
        "name": "fromColorTester",
        "links": [
            "44351bbd.4fdf94"
        ],
        "x": 655,
        "y": 540,
        "wires": []
    },
    {
        "id": "482c3e25.007b5",
        "type": "inject",
        "z": "cf4eb861.964c88",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Honeydew",
        "payloadType": "str",
        "x": 510,
        "y": 520,
        "wires": [
            [
                "b1aa92b3.9f567"
            ]
        ]
    },
    {
        "id": "86d59a1.2760e68",
        "type": "inject",
        "z": "cf4eb861.964c88",
        "name": "off",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0,272,0,0,0",
        "payloadType": "str",
        "x": 490,
        "y": 560,
        "wires": [
            [
                "b1aa92b3.9f567"
            ]
        ]
    },
    {
        "id": "a487f1c9.e8e4e",
        "type": "inject",
        "z": "cf4eb861.964c88",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "green",
        "payloadType": "str",
        "x": 490,
        "y": 480,
        "wires": [
            [
                "b1aa92b3.9f567"
            ]
        ]
    },
    {
        "id": "b293dc3d.3fb03",
        "type": "inject",
        "z": "cf4eb861.964c88",
        "name": "Blancoverde",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0,272,100,150,100",
        "payloadType": "str",
        "x": 470,
        "y": 600,
        "wires": [
            [
                "b1aa92b3.9f567"
            ]
        ]
    },
    {
        "id": "c4a734cf.acb8c8",
        "type": "link out",
        "z": "cf4eb861.964c88",
        "name": "tester4",
        "links": [
            "200580c3.d5c42"
        ],
        "x": 335,
        "y": 600,
        "wires": []
    },
    {
        "id": "93ed252.04163d8",
        "type": "link out",
        "z": "cf4eb861.964c88",
        "name": "tester1",
        "links": [
            "368e7783.a36588"
        ],
        "x": 335,
        "y": 440,
        "wires": []
    },
    {
        "id": "9b7a54ae.2c2f98",
        "type": "link out",
        "z": "cf4eb861.964c88",
        "name": "tester2",
        "links": [
            "fcf2e33.79d542"
        ],
        "x": 335,
        "y": 480,
        "wires": []
    },
    {
        "id": "12134501.9d02ab",
        "type": "link out",
        "z": "cf4eb861.964c88",
        "name": "tester3",
        "links": [
            "2d48cc28.e5c9a4"
        ],
        "x": 335,
        "y": 520,
        "wires": []
    },
    {
        "id": "fde8e4e9.057af8",
        "type": "link out",
        "z": "cf4eb861.964c88",
        "name": "tester4",
        "links": [
            "8fcee55b.025d28"
        ],
        "x": 335,
        "y": 560,
        "wires": []
    },
    {
        "id": "5512bb76.7dc7f4",
        "type": "link out",
        "z": "cf4eb861.964c88",
        "name": "tester5",
        "links": [
            "2e017f19.e00c9"
        ],
        "x": 335,
        "y": 640,
        "wires": []
    },
    {
        "id": "139c02e1.45e3dd",
        "type": "inject",
        "z": "af48f45.b140f08",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.5",
        "topic": "",
        "payload": "maxErgoTemp",
        "payloadType": "global",
        "x": 95,
        "y": 500,
        "wires": [
            [
                "c5983596.e6ae58"
            ]
        ],
        "l": false
    },
    {
        "id": "e5796e4b.071c5",
        "type": "inject",
        "z": "af48f45.b140f08",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.5",
        "topic": "",
        "payload": "minErgoTemp",
        "payloadType": "global",
        "x": 95,
        "y": 540,
        "wires": [
            [
                "414f5c8e.451c24"
            ]
        ],
        "l": false
    },
    {
        "id": "e69d9099.1a927",
        "type": "inject",
        "z": "af48f45.b140f08",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.5",
        "topic": "",
        "payload": "maxErgoHum",
        "payloadType": "global",
        "x": 95,
        "y": 600,
        "wires": [
            [
                "f09fc5b9.059238"
            ]
        ],
        "l": false
    },
    {
        "id": "6ad3d0f6.516d5",
        "type": "inject",
        "z": "af48f45.b140f08",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.5",
        "topic": "",
        "payload": "minErgoHum",
        "payloadType": "global",
        "x": 95,
        "y": 640,
        "wires": [
            [
                "741ef3f1.3a083c"
            ]
        ],
        "l": false
    },
    {
        "id": "46b36546.18303c",
        "type": "inject",
        "z": "af48f45.b140f08",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.5",
        "topic": "",
        "payload": "maxErgoUV",
        "payloadType": "global",
        "x": 95,
        "y": 700,
        "wires": [
            [
                "7379bbd3.4e2db4"
            ]
        ],
        "l": false
    },
    {
        "id": "81602ef8.4db29",
        "type": "inject",
        "z": "af48f45.b140f08",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.5",
        "topic": "",
        "payload": "minErgoUV",
        "payloadType": "global",
        "x": 95,
        "y": 740,
        "wires": [
            [
                "98c31a11.966318"
            ]
        ],
        "l": false
    },
    {
        "id": "f891aeba.76a0f",
        "type": "inject",
        "z": "af48f45.b140f08",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.5",
        "topic": "",
        "payload": "maxErgoDB",
        "payloadType": "global",
        "x": 95,
        "y": 800,
        "wires": [
            [
                "d742dae3.baa1c8"
            ]
        ],
        "l": false
    },
    {
        "id": "c1cdde3b.72dcc",
        "type": "inject",
        "z": "af48f45.b140f08",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.5",
        "topic": "",
        "payload": "minErgoDB",
        "payloadType": "global",
        "x": 95,
        "y": 840,
        "wires": [
            [
                "565e54a0.dab03c"
            ]
        ],
        "l": false
    },
    {
        "id": "37245c1d.b93ba4",
        "type": "inject",
        "z": "af48f45.b140f08",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.5",
        "topic": "",
        "payload": "maxErgoLux",
        "payloadType": "global",
        "x": 95,
        "y": 900,
        "wires": [
            [
                "ebc36d2c.0111d"
            ]
        ],
        "l": false
    },
    {
        "id": "eecf0030.5f23d",
        "type": "inject",
        "z": "af48f45.b140f08",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.5",
        "topic": "",
        "payload": "minErgoLux",
        "payloadType": "global",
        "x": 95,
        "y": 940,
        "wires": [
            [
                "3bf42045.6f422"
            ]
        ],
        "l": false
    },
    {
        "id": "4fc9a12c.f559f",
        "type": "inject",
        "z": "af48f45.b140f08",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.5",
        "topic": "",
        "payload": "maxErgoPPM",
        "payloadType": "global",
        "x": 95,
        "y": 1000,
        "wires": [
            [
                "ec250e78.3830f"
            ]
        ],
        "l": false
    },
    {
        "id": "b5fb8e2a.4503b",
        "type": "inject",
        "z": "af48f45.b140f08",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.5",
        "topic": "",
        "payload": "minErgoPPM",
        "payloadType": "global",
        "x": 95,
        "y": 1040,
        "wires": [
            [
                "33d22fc8.d3021"
            ]
        ],
        "l": false
    },
    {
        "id": "464cb4e6.85427c",
        "type": "comment",
        "z": "af48f45.b140f08",
        "name": "Bloquea el display de mediciones hasta que dejes de testear",
        "info": "",
        "x": 960,
        "y": 120,
        "wires": []
    },
    {
        "id": "f568fb69.b19528",
        "type": "function",
        "z": "69a283fa.9a5a2c",
        "name": "Formato Octoprint",
        "func": "var text = msg.payload;\nmsg.payload='Tu nuevo acceso remoto ngrok es: '+ text + '';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 910,
        "y": 220,
        "wires": [
            [
                "8ec3a41c.f25008",
                "ad966ee8.8e6dc"
            ]
        ]
    },
    {
        "id": "a9358133.43d59",
        "type": "switch",
        "z": "69a283fa.9a5a2c",
        "name": "filtro \"null\"",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "null"
            },
            {
                "t": "nnull"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 590,
        "y": 220,
        "wires": [
            [
                "b95afa42.9f73e8"
            ],
            [
                "f568fb69.b19528"
            ]
        ]
    },
    {
        "id": "d8cd3918.f426c8",
        "type": "ngrok",
        "z": "69a283fa.9a5a2c",
        "port": "5000",
        "creds": "ad639dd2.96355",
        "region": "us",
        "subdomain": "",
        "name": "ngrok:5000",
        "auth": "",
        "x": 410,
        "y": 200,
        "wires": [
            [
                "a9358133.43d59"
            ]
        ]
    },
    {
        "id": "bf451b65.c5a3e8",
        "type": "link in",
        "z": "7f137852.8b9328",
        "name": "sistema-agregar-wifi",
        "links": [
            "7949855e.5454ac",
            "ed80a221.4e79"
        ],
        "x": 515,
        "y": 300,
        "wires": [
            [
                "3934c8d.1e65138"
            ]
        ]
    },
    {
        "id": "fac68924.2125c8",
        "type": "comment",
        "z": "7f137852.8b9328",
        "name": "Agregar WiFi",
        "info": "",
        "x": 570,
        "y": 220,
        "wires": []
    },
    {
        "id": "3934c8d.1e65138",
        "type": "function",
        "z": "7f137852.8b9328",
        "name": "Formato Docker WiFi",
        "func": "var ssid = msg.payload.ssid;\nvar psk = msg.payload.pass;\n\n// curl -w \"\\n\" -d '{\"ssid\":\"Habia una vez\", \"psk\":\"-truz, jaja\"}' \\\n//     -H \"Content-Type: application/json\" \\\n//     -X POST localhost:8080/connect\n\nvar formato = 'curl -w \"'\nformato += '\\\\n';\nformato += '\" -d ' \nformato += \"'\";\nformato += '{\"ssid\":\"' + ssid +'\", \"psk\":\"' + psk + '\"}'\nformato += \"' \";\nformato += '\\ ';\nformato += '-H \"Content-Type: application/json\" \\ ';\nformato += '-X POST localhost:8080/connect';\n\nmsg = {payload:formato};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 660,
        "y": 300,
        "wires": [
            [
                "ffe31a0d.6d62f8",
                "552db553.660dec"
            ]
        ]
    },
    {
        "id": "ffe31a0d.6d62f8",
        "type": "debug",
        "z": "7f137852.8b9328",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 990,
        "y": 280,
        "wires": []
    },
    {
        "id": "552db553.660dec",
        "type": "exec",
        "z": "7f137852.8b9328",
        "command": "",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 830,
        "y": 300,
        "wires": [
            [
                "ffe31a0d.6d62f8",
                "cbdea14e.ee1fe"
            ],
            [
                "ffe31a0d.6d62f8"
            ],
            [
                "ffe31a0d.6d62f8"
            ]
        ]
    },
    {
        "id": "ed80a221.4e79",
        "type": "link out",
        "z": "7f137852.8b9328",
        "name": "ui-agregar-wifi",
        "links": [
            "ae68b855.e51c28",
            "bf451b65.c5a3e8"
        ],
        "x": 235,
        "y": 280,
        "wires": []
    },
    {
        "id": "862b3fc4.e8ac",
        "type": "link in",
        "z": "7f137852.8b9328",
        "name": "ui-ssid",
        "links": [
            "cebb0268.fd78c"
        ],
        "x": 55,
        "y": 280,
        "wires": [
            [
                "e4cbd36b.30e21"
            ]
        ]
    },
    {
        "id": "aa0b4637.cb8cc8",
        "type": "ui_text",
        "z": "7f137852.8b9328",
        "group": "504d9cda.7d0854",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "Show IP",
        "label": "IP",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 180,
        "y": 340,
        "wires": []
    },
    {
        "id": "491b92cb.2ede6c",
        "type": "link in",
        "z": "7f137852.8b9328",
        "name": "ui-ip",
        "links": [
            "1a8c4323.2dc83d"
        ],
        "x": 55,
        "y": 340,
        "wires": [
            [
                "aa0b4637.cb8cc8"
            ]
        ]
    },
    {
        "id": "185abff7.7bda6",
        "type": "comment",
        "z": "7f137852.8b9328",
        "name": "Configuración WiFi",
        "info": "",
        "x": 130,
        "y": 220,
        "wires": []
    },
    {
        "id": "e4cbd36b.30e21",
        "type": "ui_form",
        "z": "7f137852.8b9328",
        "name": "",
        "label": "WiFi",
        "group": "504d9cda.7d0854",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Red",
                "value": "ssid",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Contraseña",
                "value": "pass",
                "type": "password",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "ssid": "",
            "pass": ""
        },
        "payload": "",
        "submit": "Conectar",
        "cancel": "Cancel",
        "topic": "",
        "x": 150,
        "y": 280,
        "wires": [
            [
                "ed80a221.4e79"
            ]
        ]
    },
    {
        "id": "cbdea14e.ee1fe",
        "type": "ui_text",
        "z": "7f137852.8b9328",
        "group": "504d9cda.7d0854",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "Connection Result",
        "label": "Connection",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1010,
        "y": 320,
        "wires": []
    },
    {
        "id": "e3c527a5.beb328",
        "type": "debug",
        "z": "cf4eb861.964c88",
        "name": "PPM",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 990,
        "y": 300,
        "wires": []
    },
    {
        "id": "b63ab9ec.655108",
        "type": "debug",
        "z": "cf4eb861.964c88",
        "name": "LUX",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 990,
        "y": 260,
        "wires": []
    },
    {
        "id": "526a20c9.b2716",
        "type": "debug",
        "z": "cf4eb861.964c88",
        "name": "DB",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 990,
        "y": 220,
        "wires": []
    },
    {
        "id": "9b2b3af7.a74638",
        "type": "debug",
        "z": "cf4eb861.964c88",
        "name": "UV",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 990,
        "y": 180,
        "wires": []
    },
    {
        "id": "620f6669.9ffa58",
        "type": "debug",
        "z": "cf4eb861.964c88",
        "name": "HUM",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 990,
        "y": 140,
        "wires": []
    },
    {
        "id": "2225f5b6.e1854a",
        "type": "debug",
        "z": "cf4eb861.964c88",
        "name": "TEM",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 990,
        "y": 100,
        "wires": []
    },
    {
        "id": "2e341ec6.508162",
        "type": "smooth",
        "z": "f15c88c3.1d8bf8",
        "name": "",
        "property": "payload",
        "action": "mean",
        "count": "1",
        "round": "0",
        "mult": "single",
        "reduce": false,
        "x": 800,
        "y": 120,
        "wires": [
            [
                "c36172ea.32c34",
                "7865be70.2e3e6",
                "9e6d1ab.526ebe8",
                "80a08e60.854c3"
            ]
        ]
    },
    {
        "id": "d7325b33.6bd1a8",
        "type": "smooth",
        "z": "f15c88c3.1d8bf8",
        "name": "",
        "property": "payload",
        "action": "mean",
        "count": "1",
        "round": "0",
        "mult": "single",
        "reduce": false,
        "x": 800,
        "y": 300,
        "wires": [
            [
                "9b31a9b4.06a368",
                "6ea263dd.81d94c",
                "96ab61e6.4a6f9",
                "80a08e60.854c3"
            ]
        ]
    },
    {
        "id": "34c216bc.e7dbea",
        "type": "daemon",
        "z": "f15c88c3.1d8bf8",
        "name": "daemon sensors.py",
        "command": "python3",
        "args": "-u /home/pi/.node-red/projects/DisplayErgonomiaFlows/sensors.py",
        "autorun": true,
        "cr": false,
        "redo": true,
        "op": "lines",
        "closer": "SIGKILL",
        "x": 150,
        "y": 480,
        "wires": [
            [
                "b7532d9c.cb1d"
            ],
            [],
            []
        ]
    },
    {
        "id": "3ccadf86.a180d",
        "type": "smooth",
        "z": "f15c88c3.1d8bf8",
        "name": "",
        "property": "payload",
        "action": "mean",
        "count": "10",
        "round": "1",
        "mult": "single",
        "reduce": false,
        "x": 800,
        "y": 640,
        "wires": [
            [
                "9ca4ef8a.4b8cc",
                "de59f70d.5ba0a8",
                "35323320.f9517c",
                "47499e47.c4b74"
            ]
        ]
    },
    {
        "id": "483c8c74.134a04",
        "type": "link out",
        "z": "c38c08a9.69fc18",
        "name": "fromColorLux",
        "links": [
            "cf7159e1.54dd98"
        ],
        "x": 1375,
        "y": 100,
        "wires": []
    },
    {
        "id": "4b425789.45ed48",
        "type": "rbe",
        "z": "f15c88c3.1d8bf8",
        "name": "",
        "func": "deadband",
        "gap": "10",
        "start": "",
        "inout": "out",
        "property": "payload",
        "x": 1100,
        "y": 800,
        "wires": [
            [
                "41dba8ce.4fd2d8"
            ]
        ]
    },
    {
        "id": "ea594860.f5ccc8",
        "type": "rbe",
        "z": "f15c88c3.1d8bf8",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "property": "payload",
        "x": 1135,
        "y": 480,
        "wires": [
            [
                "787b921d.aaed4c"
            ]
        ],
        "l": false
    },
    {
        "id": "ba2c3833.0ee4f8",
        "type": "rbe",
        "z": "f15c88c3.1d8bf8",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "property": "payload",
        "x": 1135,
        "y": 960,
        "wires": [
            [
                "b7096b87.5a39d8",
                "d2923848.055198"
            ]
        ],
        "l": false
    },
    {
        "id": "ed10dded.b5b34",
        "type": "switch",
        "z": "f15c88c3.1d8bf8",
        "name": "",
        "property": "colorTestOn",
        "propertyType": "global",
        "rules": [
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1415,
        "y": 300,
        "wires": [
            [
                "5089a2d3.0f52ac"
            ]
        ],
        "l": false
    },
    {
        "id": "bb5221d9.228d2",
        "type": "switch",
        "z": "f15c88c3.1d8bf8",
        "name": "",
        "property": "colorTestOn",
        "propertyType": "global",
        "rules": [
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1415,
        "y": 640,
        "wires": [
            [
                "ad6b09d4.5b4e88"
            ]
        ],
        "l": false
    },
    {
        "id": "567c9001.2611e",
        "type": "switch",
        "z": "f15c88c3.1d8bf8",
        "name": "",
        "property": "colorTestOn",
        "propertyType": "global",
        "rules": [
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1415,
        "y": 800,
        "wires": [
            [
                "209ce585.3bd34a"
            ]
        ],
        "l": false
    },
    {
        "id": "47a82b55.c62fe4",
        "type": "switch",
        "z": "f15c88c3.1d8bf8",
        "name": "",
        "property": "colorTestOn",
        "propertyType": "global",
        "rules": [
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1415,
        "y": 480,
        "wires": [
            [
                "f6c5a013.9c1f8"
            ]
        ],
        "l": false
    },
    {
        "id": "31423641.fbc99a",
        "type": "switch",
        "z": "f15c88c3.1d8bf8",
        "name": "",
        "property": "colorTestOn",
        "propertyType": "global",
        "rules": [
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1415,
        "y": 960,
        "wires": [
            [
                "2f67091d.60f986"
            ]
        ],
        "l": false
    },
    {
        "id": "787b921d.aaed4c",
        "type": "change",
        "z": "f15c88c3.1d8bf8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "currentLux",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1280,
        "y": 480,
        "wires": [
            [
                "47a82b55.c62fe4"
            ]
        ]
    },
    {
        "id": "124934b7.cf1f9b",
        "type": "change",
        "z": "f15c88c3.1d8bf8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "currentHum",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1280,
        "y": 300,
        "wires": [
            [
                "ed10dded.b5b34"
            ]
        ]
    },
    {
        "id": "355a58bf.9c3bb8",
        "type": "change",
        "z": "f15c88c3.1d8bf8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "currentUV",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1280,
        "y": 640,
        "wires": [
            [
                "bb5221d9.228d2"
            ]
        ]
    },
    {
        "id": "41dba8ce.4fd2d8",
        "type": "change",
        "z": "f15c88c3.1d8bf8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "currentDB",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1280,
        "y": 800,
        "wires": [
            [
                "567c9001.2611e"
            ]
        ]
    },
    {
        "id": "b7096b87.5a39d8",
        "type": "change",
        "z": "f15c88c3.1d8bf8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "currentPPM",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1280,
        "y": 960,
        "wires": [
            [
                "31423641.fbc99a"
            ]
        ]
    },
    {
        "id": "f8bfa01c.e1708",
        "type": "change",
        "z": "f15c88c3.1d8bf8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "currentTemp",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1280,
        "y": 120,
        "wires": [
            [
                "cae147b8.824198"
            ]
        ]
    },
    {
        "id": "7865be70.2e3e6",
        "type": "rbe",
        "z": "f15c88c3.1d8bf8",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "property": "payload",
        "x": 1135,
        "y": 120,
        "wires": [
            [
                "f8bfa01c.e1708"
            ]
        ],
        "l": false
    },
    {
        "id": "6ea263dd.81d94c",
        "type": "rbe",
        "z": "f15c88c3.1d8bf8",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "property": "payload",
        "x": 1135,
        "y": 300,
        "wires": [
            [
                "124934b7.cf1f9b"
            ]
        ],
        "l": false
    },
    {
        "id": "cae147b8.824198",
        "type": "switch",
        "z": "f15c88c3.1d8bf8",
        "name": "",
        "property": "colorTestOn",
        "propertyType": "global",
        "rules": [
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1415,
        "y": 120,
        "wires": [
            [
                "193f6a50.8d5ae6"
            ]
        ],
        "l": false
    },
    {
        "id": "235f557c.d293ea",
        "type": "link out",
        "z": "c38c08a9.69fc18",
        "name": "fromColorTEMP",
        "links": [
            "35c7c46d.079d7c"
        ],
        "x": 1375,
        "y": 240,
        "wires": []
    },
    {
        "id": "dbdf8f.446c807",
        "type": "link out",
        "z": "c38c08a9.69fc18",
        "name": "fromColorHUM",
        "links": [
            "671e37ae.a0a358"
        ],
        "x": 1375,
        "y": 380,
        "wires": []
    },
    {
        "id": "705d30a8.42f9f",
        "type": "link out",
        "z": "c38c08a9.69fc18",
        "name": "fromColorUV",
        "links": [
            "f8fc66a0.9ea338"
        ],
        "x": 1375,
        "y": 520,
        "wires": []
    },
    {
        "id": "bedea034.18a55",
        "type": "link out",
        "z": "c38c08a9.69fc18",
        "name": "fromColorDB",
        "links": [
            "aa61d0d5.57807"
        ],
        "x": 1375,
        "y": 660,
        "wires": []
    },
    {
        "id": "962f6f64.c20ed",
        "type": "link out",
        "z": "c38c08a9.69fc18",
        "name": "fromColorPPM",
        "links": [
            "8b89f55a.8197e8"
        ],
        "x": 1375,
        "y": 800,
        "wires": []
    },
    {
        "id": "f6c5a013.9c1f8",
        "type": "link out",
        "z": "f15c88c3.1d8bf8",
        "name": "fromLUXMedicion",
        "links": [
            "200580c3.d5c42"
        ],
        "x": 1475,
        "y": 480,
        "wires": []
    },
    {
        "id": "193f6a50.8d5ae6",
        "type": "link out",
        "z": "f15c88c3.1d8bf8",
        "name": "fromTemMedicion",
        "links": [
            "368e7783.a36588"
        ],
        "x": 1475,
        "y": 120,
        "wires": []
    },
    {
        "id": "5089a2d3.0f52ac",
        "type": "link out",
        "z": "f15c88c3.1d8bf8",
        "name": "fromHUMMedicion",
        "links": [
            "fcf2e33.79d542"
        ],
        "x": 1475,
        "y": 300,
        "wires": []
    },
    {
        "id": "ad6b09d4.5b4e88",
        "type": "link out",
        "z": "f15c88c3.1d8bf8",
        "name": "fromVoltsUVMedicion",
        "links": [
            "2d48cc28.e5c9a4"
        ],
        "x": 1475,
        "y": 640,
        "wires": []
    },
    {
        "id": "209ce585.3bd34a",
        "type": "link out",
        "z": "f15c88c3.1d8bf8",
        "name": "fromIntensDBMedicion",
        "links": [
            "8fcee55b.025d28"
        ],
        "x": 1475,
        "y": 800,
        "wires": []
    },
    {
        "id": "2f67091d.60f986",
        "type": "link out",
        "z": "f15c88c3.1d8bf8",
        "name": "fromIntensPPMMedicion",
        "links": [
            "2e017f19.e00c9"
        ],
        "x": 1475,
        "y": 960,
        "wires": []
    },
    {
        "id": "b3369c13.053ec",
        "type": "comment",
        "z": "f15c88c3.1d8bf8",
        "name": "Medición de Humedad ",
        "info": "",
        "x": 580,
        "y": 260,
        "wires": []
    },
    {
        "id": "e23b4493.e73078",
        "type": "function",
        "z": "cf4eb861.964c88",
        "name": "NeoMedicion ",
        "func": "var num = msg.payload;\nvar col = msg.col;  // color para Wheel()\nvar numDigitos = msg.numDig; //Dígitos por Neomedición\nvar NeoMedicionFloor = msg.NeoFloor;  //Dónde comienzan los pixeles de esta NeoMedición\n\n\nvar NeoMedicionRoof = NeoMedicionFloor + numDigitos*16 - 1;\nvar overflowNum = Math.pow(10, numDigitos); //¿A partir de qué número ya no se puede mostrar en la NeoMedicion?\n\nvar numbers = [\n  0b11101110,    // 0\n  0b10001000,    // 1\n  0b01111100,    // 2    5555\n  0b11011100,    // 3   6    4\n  0b10011010,    // 4    3333\n  0b11010110,    // 5   2    0\n  0b11110110,    // 6    1111\n  0b10001100,    // 7\n  0b11111110,    // 8\n  0b10011110    // 9\n];\n\nvar segmDia = [0,2,5,5,4,5,6,3,7,6,8,4,7,7,6,7,8,5,9,8,11,7,10,10,9,10,11,8,12,11,11,7];\n\nvar fitNum; //Se usa para ajustar la cantidad de cifras que se pueden mostrar\nvar show0s = 0;\n\nif(num >= overflowNum)\n{ //Recorta para sólo mostrar la cifra que cabe en el display\n    fitNum = Math.floor(num/overflowNum);\n    fitNum = fitNum*overflowNum;\n    num = num - fitNum;\n}\n\nmsg.payload = NeoMedicionFloor + \",\" + NeoMedicionRoof + \",0,0,0\"  //Esto apaga todos los neopixel de la NeoMedicion\nnode.send(msg);\nnum = PuntoDecimal(num);\ndisplayNDigitoss2LEDxSegmento(num, col)\n\nfunction displayNDigitoss2LEDxSegmento(h, col)\n{\n  var millares = Math.floor(h / 1000);\n  var centenas = Math.floor((h % 1000)/100);\n  var decenas = Math.floor(((h%1000)%100)/ 10);\n  var unidades = Math.floor(((h%1000)%100)%10);\n\n  //var j = numPixAnio + numPixMes + numPixFechas; //Para la posicion del neopixel.\n  var j = NeoMedicionFloor + 1;  //Para la posicion del neopixel (Comienza después del punto)\n  var i = 0;  //Para el segmento del neoDígito\n  var jTemp;\n  \n  if(numDigitos>=1)\n  {\n  // -------------------------------------------- unidades\n  for (i = 0; i < 7; i++)\n  {\n      jTemp = j + 1;\n      \n    if (numbers[unidades] & (1 << 7 - i))\n    {\n        msg.payload = j + \",\" + Wheel(col);\n        node.send(msg);\n        msg.payload = jTemp + \",\" + Wheel(col);\n        node.send(msg);\n    }\n    \n    else\n    {\n        msg.payload = j + \",0,0,0\";\n        node.send(msg);\n        msg.payload = jTemp + \",0,0,0\";\n        node.send(msg);\n        \n    }\n    \n    j=j+2;\n  }\n  }\n  \n  if(numDigitos>=2)\n  {\n  //-------------------------------------------- decenas\n  j = j + 2; //Para saltar los dos puntos y los 14 segmentos del dígito previo\n//  msg.payload = j;\n//  node.send(msg);\n  \n  for (i = 0; i < 7; i++)\n  {\n      jTemp = j + 1;\n      \n    if ((numbers[decenas] & (1 << 7 - i)) && ((decenas >= 1) || (centenas >= 1) || (millares >= 1) || msg.dondeDecimal > 0)) //el cero no se muestra\n    {\n        msg.payload = j + \",\" + Wheel(col);\n        node.send(msg);\n        msg.payload = jTemp + \",\" + Wheel(col);\n        node.send(msg);\n    }\n    \n    else\n    {\n        msg.payload = j + \",0,0,0\";\n        node.send(msg);\n        msg.payload = jTemp + \",0,0,0\";\n        node.send(msg);\n    }\n    \n   j=j+2;\n  }\n }\n  \n  if(numDigitos>=3)\n  {\n // ---------------------------------------- centenas\n  j = j + 2; //Para saltar los dos puntos y los 14 segmentos del dígito previo\n//  msg.payload = j;\n//  node.send(msg);\n  \n  for (i = 0; i < 7; i++)\n  {\n      jTemp = j + 1;\n      \n    if ((numbers[centenas] & (1 << 7 - i)) && ((centenas >= 1) || (millares >= 1) || msg.dondeDecimal > 0)) //el cero no se muestra\n    {\n        msg.payload = j + \",\" + Wheel(col);\n        node.send(msg);\n        msg.payload = jTemp + \",\" + Wheel(col);\n        node.send(msg);\n    }\n    \n    else\n    {\n        msg.payload = j + \",0,0,0\";\n        node.send(msg);\n        msg.payload = jTemp + \",0,0,0\";\n        node.send(msg);\n    }\n  j=j+2;\n }\n }\n  \n  if(numDigitos>=4)\n  {\n //---------------------------------------- millares\n j = j + 2; //Para saltar los dos puntos y los 14 segmentos del dígito previo\n// msg.payload = j;\n// node.send(msg);\n \n  \n  for ( i = 0; i < 7; i++)\n  {\n      jTemp = j + 1;\n      \n    if ((numbers[millares] & (1 << 7 - i)) && ((millares >= 1) || msg.dondeDecimal > 0)) // Que sea diferente de cero\n      { \n        msg.payload = j + \",\" + Wheel(col);\n        node.send(msg);\n        msg.payload = jTemp + \",\" + Wheel(col);\n        node.send(msg);\n      }\n      \n    else\n    {\n        msg.payload = j + \",0,0,0\";\n        node.send(msg);\n        msg.payload = jTemp + \",0,0,0\";\n        node.send(msg);\n    }\n    j=j+2; //Posicion del Neopixel\n  }\n  }\n  \n  return;\n}\n\nfunction PuntoDecimal(num)\n{\n    var dondeDecimal = 0;\n    num = num.toString();\n    \n    for(var i = 0; i<num.length; i++)\n    {//Ojo, estamos asumiendo que no van a haber puntos en el primer lugar de la cadena. (P.e. \".1234\")\n     if(num[i] == \".\")\n     {\n        break; //Si halla el punto, se sale\n     }\n     else\n     {\n        dondeDecimal++; //Mientras no halle el punto, aumenta\n     }\n    }\n\n    if(dondeDecimal == num.length) \n    {\n        dondeDecimal = 0; //No hubo punto decimal en la cadena\n    }\n    else \n    {\n        //Acá encender el punto con el color indicado\n        msg.payload = (NeoMedicionFloor + 16*(numDigitos-dondeDecimal)) + \",\" + Wheel(col);\n        node.send(msg);\n        num = Math.floor(num * ((overflowNum/10) / (Math.pow(10, (dondeDecimal-1))))); //Recorre a la izquierda la cifra para hacerla \"entero\" para la siguiente función\n    } \n    \n    msg.dondeDecimal = dondeDecimal;\n    return num;\n    \n}\n\n\n//--- Input a value 0 to 255 to get a color value r - g - b - back to r\nfunction Wheel( WheelPos)\n{\n\n if (WheelPos == 0)\n  { //Para el color blanco\n    //return \"200,255,200\";\n    return global.get('colorWHITE');\n  }\n  \n else {\n  WheelPos = 255 - WheelPos;\n  if (WheelPos < 85 && WheelPos >0 )\n  {\n    return (255-WheelPos*3) + \",\" + 0 + \",\" + (WheelPos*3);\n  }\n  \n  else if (WheelPos < 170)\n  {\n    WheelPos -= 85;\n    return  0 + \",\" + (WheelPos*3) + \",\" + (255-WheelPos*3);\n  }\n  \n  else\n  {\n    WheelPos -= 170;\n    return (WheelPos*3) + \",\" + (255-WheelPos*3) + \",\" + 0;\n  }\n}\n}\n\nreturn;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 830,
        "y": 200,
        "wires": [
            [
                "89bb9876.262388"
            ]
        ]
    },
    {
        "id": "b66c7040.5c14d",
        "type": "change",
        "z": "cf4eb861.964c88",
        "name": "NeoConfig para PPM",
        "rules": [
            {
                "t": "set",
                "p": "col",
                "pt": "msg",
                "to": "colPPM",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "numDig",
                "pt": "msg",
                "to": "4",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "NeoFloor",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 300,
        "wires": [
            [
                "e23b4493.e73078",
                "e3c527a5.beb328"
            ]
        ]
    },
    {
        "id": "20e0d0ea.4ebba",
        "type": "change",
        "z": "cf4eb861.964c88",
        "name": "NeoConfig para LUX",
        "rules": [
            {
                "t": "set",
                "p": "col",
                "pt": "msg",
                "to": "colLUX",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "numDig",
                "pt": "msg",
                "to": "4",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "NeoFloor",
                "pt": "msg",
                "to": "64",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 260,
        "wires": [
            [
                "e23b4493.e73078",
                "b63ab9ec.655108"
            ]
        ]
    },
    {
        "id": "c3f306ab.3be788",
        "type": "change",
        "z": "cf4eb861.964c88",
        "name": "NeoConfig para DB",
        "rules": [
            {
                "t": "set",
                "p": "col",
                "pt": "msg",
                "to": "colDB",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "numDig",
                "pt": "msg",
                "to": "3",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "NeoFloor",
                "pt": "msg",
                "to": "128",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 220,
        "wires": [
            [
                "e23b4493.e73078",
                "526a20c9.b2716"
            ]
        ]
    },
    {
        "id": "9bbb1af1.b5bef8",
        "type": "change",
        "z": "cf4eb861.964c88",
        "name": "NeoConfig para UV",
        "rules": [
            {
                "t": "set",
                "p": "col",
                "pt": "msg",
                "to": "colUV",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "numDig",
                "pt": "msg",
                "to": "2",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "NeoFloor",
                "pt": "msg",
                "to": "176",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 180,
        "wires": [
            [
                "e23b4493.e73078",
                "9b2b3af7.a74638"
            ]
        ]
    },
    {
        "id": "13ccb17c.3685ef",
        "type": "change",
        "z": "cf4eb861.964c88",
        "name": "NeoConfig para HUM",
        "rules": [
            {
                "t": "set",
                "p": "col",
                "pt": "msg",
                "to": "colHum",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "numDig",
                "pt": "msg",
                "to": "2",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "NeoFloor",
                "pt": "msg",
                "to": "208",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 140,
        "wires": [
            [
                "e23b4493.e73078",
                "620f6669.9ffa58"
            ]
        ]
    },
    {
        "id": "471e9447.a99aec",
        "type": "change",
        "z": "cf4eb861.964c88",
        "name": "NeoConfig para TEM",
        "rules": [
            {
                "t": "set",
                "p": "col",
                "pt": "msg",
                "to": "colTemp",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "numDig",
                "pt": "msg",
                "to": "2",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "NeoFloor",
                "pt": "msg",
                "to": "240",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 100,
        "wires": [
            [
                "e23b4493.e73078",
                "2225f5b6.e1854a"
            ]
        ]
    },
    {
        "id": "6bff563f.192298",
        "type": "comment",
        "z": "cf4eb861.964c88",
        "name": "Para probar los NeoDígitos y los Neopixels en general",
        "info": "",
        "x": 350,
        "y": 400,
        "wires": []
    },
    {
        "id": "e17f6a26.43ee48",
        "type": "function",
        "z": "af48f45.b140f08",
        "d": true,
        "name": "testColorWHITE",
        "func": "var col = msg.payload || 0;  // color para Wheel().\n\n\nmsg.payload = \"0,272,\" + Wheel(col);\nnode.send(msg);\n\n\n\nfunction Wheel( WheelPos)\n{\n  if(WheelPos == 0) return 200 + \",\" + 200 + \",\" + 200;\n  \n  \n  if (WheelPos < 56 && WheelPos > 0 )\n  {\n    return (200 + WheelPos) + \",\" + 200 + \",\" + 200;\n  }\n  \n  else if (WheelPos < 111 && WheelPos > 55 )\n  {\n    WheelPos -= 55;\n    return  200 + \",\" + 200 + \",\" + (200 + WheelPos);\n  }\n  \n  else if (WheelPos < 166 && WheelPos > 110 )\n  {\n    WheelPos -= 110;\n    return 200 + \",\" + (200 + WheelPos) + \",\" + 200;\n  }\n}\n\n\nreturn;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1100,
        "y": 440,
        "wires": [
            [
                "5e20519c.fd63f"
            ]
        ]
    },
    {
        "id": "5e20519c.fd63f",
        "type": "change",
        "z": "af48f45.b140f08",
        "d": true,
        "name": "formato",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "0,272,",
                "fromt": "str",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1260,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "ebbe6f1d.d56ca",
        "type": "ui_slider",
        "z": "af48f45.b140f08",
        "d": true,
        "name": "",
        "label": "En Rango",
        "tooltip": "R-G-B-W de 0 a 55",
        "group": "a68eebc0.1d6ba8",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "",
        "min": 0,
        "max": "165",
        "step": 1,
        "x": 940,
        "y": 440,
        "wires": [
            [
                "e17f6a26.43ee48"
            ]
        ]
    },
    {
        "id": "bcce9e86.3ea1f",
        "type": "comment",
        "z": "af48f45.b140f08",
        "name": "Se debe iniciar con el modo colorTest apagado para que los números se muestren.",
        "info": "",
        "x": 1490,
        "y": 120,
        "wires": []
    },
    {
        "id": "288b7e3.ef6ba82",
        "type": "comment",
        "z": "af48f45.b140f08",
        "name": "Para configurar los colores de los tres niveles",
        "info": "",
        "x": 250,
        "y": 120,
        "wires": []
    },
    {
        "id": "81fca266.000d4",
        "type": "comment",
        "z": "af48f45.b140f08",
        "name": "Para configurar los límites de los tres niveles",
        "info": "",
        "x": 230,
        "y": 440,
        "wires": []
    },
    {
        "id": "3e657bde.90a094",
        "type": "inject",
        "z": "af48f45.b140f08",
        "d": true,
        "name": "COLOR BLANCO ",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "145,160,160",
        "payloadType": "str",
        "x": 190,
        "y": 300,
        "wires": [
            [
                "b9948702.535458"
            ]
        ]
    },
    {
        "id": "b9948702.535458",
        "type": "change",
        "z": "af48f45.b140f08",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "colorWHITE",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 300,
        "wires": [
            [
                "38bd160c.8624da"
            ]
        ]
    },
    {
        "id": "e16927ea.193528",
        "type": "daemon",
        "z": "f15c88c3.1d8bf8",
        "name": "daemon dht_loop.py",
        "command": "python3",
        "args": "-u /home/pi/.node-red/projects/DisplayErgonomiaFlows/dht_loop.py",
        "autorun": true,
        "cr": false,
        "redo": true,
        "op": "lines",
        "closer": "SIGKILL",
        "x": 160,
        "y": 300,
        "wires": [
            [
                "ef3df720.1617a8"
            ],
            [],
            []
        ]
    },
    {
        "id": "ef3df720.1617a8",
        "type": "json",
        "z": "f15c88c3.1d8bf8",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 350,
        "y": 300,
        "wires": [
            [
                "f7bfa123.1606a",
                "22043c2e.0d2d44"
            ]
        ]
    },
    {
        "id": "a99917c4.71daa8",
        "type": "smooth",
        "z": "f15c88c3.1d8bf8",
        "name": "",
        "property": "payload",
        "action": "mean",
        "count": "15",
        "round": "0",
        "mult": "single",
        "reduce": true,
        "x": 800,
        "y": 480,
        "wires": [
            [
                "bf933862.6fde18",
                "ea594860.f5ccc8",
                "6df71503.3b9acc"
            ]
        ]
    },
    {
        "id": "3979279e.890178",
        "type": "smooth",
        "z": "f15c88c3.1d8bf8",
        "name": "",
        "property": "payload",
        "action": "mean",
        "count": "2",
        "round": "0",
        "mult": "single",
        "reduce": true,
        "x": 800,
        "y": 800,
        "wires": [
            [
                "923e4aac.c80288",
                "4b425789.45ed48",
                "728b4086.32659",
                "f0afe5f4.417558",
                "9b327ef8.17a66"
            ]
        ]
    },
    {
        "id": "59e5cad5.bfdcc4",
        "type": "smooth",
        "z": "f15c88c3.1d8bf8",
        "name": "",
        "property": "payload",
        "action": "mean",
        "count": "20",
        "round": "0",
        "mult": "single",
        "reduce": false,
        "x": 800,
        "y": 960,
        "wires": [
            [
                "6cad0db4.4c1c84",
                "ba2c3833.0ee4f8",
                "37037b56.a9e7b4"
            ]
        ]
    },
    {
        "id": "728b4086.32659",
        "type": "ui_gauge",
        "z": "f15c88c3.1d8bf8",
        "name": "",
        "group": "ca603ecf.625ee",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Sonido",
        "label": "dB",
        "format": "{{value}}",
        "min": 0,
        "max": "200",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 960,
        "y": 820,
        "wires": []
    },
    {
        "id": "f0afe5f4.417558",
        "type": "ui_chart",
        "z": "f15c88c3.1d8bf8",
        "name": "",
        "group": "ca603ecf.625ee",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "dB",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 970,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "37037b56.a9e7b4",
        "type": "ui_chart",
        "z": "f15c88c3.1d8bf8",
        "name": "",
        "group": "d34043c4.5854d",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Calidad del Aire",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 980,
        "y": 980,
        "wires": [
            []
        ]
    },
    {
        "id": "d2923848.055198",
        "type": "ui_gauge",
        "z": "f15c88c3.1d8bf8",
        "name": "",
        "group": "d34043c4.5854d",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "Calidad del Aire",
        "label": "ppm",
        "format": "{{value}}",
        "min": 0,
        "max": "1000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1240,
        "y": 1000,
        "wires": []
    },
    {
        "id": "9e6d1ab.526ebe8",
        "type": "ui_gauge",
        "z": "f15c88c3.1d8bf8",
        "name": "",
        "group": "e930afe6.376a6",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura",
        "label": "ºC",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 970,
        "y": 140,
        "wires": []
    },
    {
        "id": "96ab61e6.4a6f9",
        "type": "ui_gauge",
        "z": "f15c88c3.1d8bf8",
        "name": "",
        "group": "e930afe6.376a6",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "Humedad",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 960,
        "y": 320,
        "wires": []
    },
    {
        "id": "80a08e60.854c3",
        "type": "ui_chart",
        "z": "f15c88c3.1d8bf8",
        "name": "GraficaTemp",
        "group": "e930afe6.376a6",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 970,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "beab976b.979c18",
        "type": "change",
        "z": "f15c88c3.1d8bf8",
        "name": "payload.light.lux",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.light.lux",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Lux",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 480,
        "wires": [
            [
                "a99917c4.71daa8",
                "4869765c.d270b8"
            ]
        ]
    },
    {
        "id": "35323320.f9517c",
        "type": "ui_chart",
        "z": "f15c88c3.1d8bf8",
        "name": "GraficaLux",
        "group": "6596af46.e8855",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 970,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "6df71503.3b9acc",
        "type": "ui_gauge",
        "z": "f15c88c3.1d8bf8",
        "name": "",
        "group": "6596af46.e8855",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "Lux",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": "2000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 950,
        "y": 500,
        "wires": []
    },
    {
        "id": "de59f70d.5ba0a8",
        "type": "ui_gauge",
        "z": "f15c88c3.1d8bf8",
        "name": "",
        "group": "6596af46.e8855",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Índice UV",
        "label": "Índice UV",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 950,
        "y": 660,
        "wires": []
    },
    {
        "id": "d21ccf18.c2a83",
        "type": "change",
        "z": "f15c88c3.1d8bf8",
        "name": "payload.uv.index",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.uv.index",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "UV",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 590,
        "y": 640,
        "wires": [
            [
                "3ccadf86.a180d",
                "81413a7b.839468"
            ]
        ]
    },
    {
        "id": "479e72b1.7146ec",
        "type": "change",
        "z": "f15c88c3.1d8bf8",
        "name": "payload.sound.dB",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.sound.dB",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "dB",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 590,
        "y": 800,
        "wires": [
            [
                "3979279e.890178",
                "8533e7b1.3715d8"
            ]
        ]
    },
    {
        "id": "cd9db8df.39fe48",
        "type": "change",
        "z": "f15c88c3.1d8bf8",
        "name": "payload.gas.ppm",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.gas.ppm",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 590,
        "y": 960,
        "wires": [
            [
                "59e5cad5.bfdcc4",
                "9e493a9b.dd0998"
            ]
        ]
    },
    {
        "id": "22043c2e.0d2d44",
        "type": "change",
        "z": "f15c88c3.1d8bf8",
        "name": "payload.dht.humidity",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.dht.humidity",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Humedad",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 300,
        "wires": [
            [
                "d7325b33.6bd1a8",
                "722cf8f8.4bffe8"
            ]
        ]
    },
    {
        "id": "9b327ef8.17a66",
        "type": "rbe",
        "z": "f15c88c3.1d8bf8",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "property": "payload",
        "x": 1055,
        "y": 840,
        "wires": [
            []
        ],
        "l": false
    },
    {
        "id": "c6114229.6db0d",
        "type": "comment",
        "z": "9db9e4d5.033558",
        "name": "Registra las mediciones a partir de los valores Current cada minuto.",
        "info": "",
        "x": 280,
        "y": 100,
        "wires": []
    },
    {
        "id": "347bea72.4f4776",
        "type": "function",
        "z": "9db9e4d5.033558",
        "name": "Set data",
        "func": "var temp = global.get('currentTemp');\nvar hum = global.get('currentHum');\nvar lux = global.get('currentLux');\nvar PPM = global.get('currentPPM');\nvar DB = global.get('currentDB');\nvar UV = global.get('currentUV');\n\nvar time = new Date().getTime();\nvar date = new Date(time); // create Date object\n\nmsg.payload = {\n    \"timestamp\" : date,\n    \"Temperatura\" : temp,\n    \"Humedad\" : hum,\n    \"UV\" : UV,\n    \"dB\" : DB,\n    \"Lux Index\" : lux,\n    \"PPM\" : PPM,\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 260,
        "y": 200,
        "wires": [
            [
                "a1b6f4a8.169488"
            ]
        ]
    },
    {
        "id": "a1b6f4a8.169488",
        "type": "function",
        "z": "9db9e4d5.033558",
        "name": "Filename generator",
        "func": "// Get the current time and convert it to text\nvar now = new Date();\nvar yyyy = now.getFullYear();\nvar mm = now.getMonth() < 9 ? \"0\" + (now.getMonth() + 1) : (now.getMonth() + 1); // getMonth() is zero-based\nvar dd  = now.getDate() < 10 ? \"0\" + now.getDate() : now.getDate();\nvar hh = now.getHours() < 10 ? \"0\" + now.getHours() : now.getHours();\nvar mmm  = now.getMinutes() < 10 ? \"0\" + now.getMinutes() : now.getMinutes();\nvar ss  = now.getSeconds() < 10 ? \"0\" + now.getSeconds() : now.getSeconds();\n\n// Generate out file name pattern\nmsg.fname = \"displayErgonomia_\"+ yyyy + mm + dd + \".csv\";\n// Full filename with path for the file node later\nmsg.filename = \"/home/pi/datalog/\"+ msg.fname;\n//msg.filename = \"D:/OneDrive/Documentos/BUAP/8 Semestre/Proyectos I+D/Proyecto Final Access Mask/\"+ msg.fname;\n\n// We save the current payload into a different place on the msg object\nmsg.filecontent = msg.payload;\n\n// We are passing the file name search pattern to fs node to tell us if the file exists or not\nmsg.payload = {\"pattern\":msg.fname};\n\nnode.status({fill:\"blue\",shape:\"ring\",text:msg.fname});\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 430,
        "y": 200,
        "wires": [
            [
                "f5ef08c0.4ecaa8",
                "bb58d215.ab7bb"
            ]
        ]
    },
    {
        "id": "4f540638.161a78",
        "type": "switch",
        "z": "9db9e4d5.033558",
        "name": "",
        "property": "$count(msg.payload)",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 770,
        "y": 200,
        "wires": [
            [
                "317303b8.e168fc"
            ],
            [
                "5ef6b771.b073b8"
            ]
        ]
    },
    {
        "id": "8c4268c4.b2d1d8",
        "type": "csv",
        "z": "9db9e4d5.033558",
        "name": "",
        "sep": ",",
        "hdrin": "",
        "hdrout": "all",
        "multi": "one",
        "ret": "\\n",
        "temp": "timestamp,temperature,humidity",
        "skip": "0",
        "strings": true,
        "include_empty_strings": false,
        "include_null_values": false,
        "x": 1110,
        "y": 180,
        "wires": [
            [
                "3a7869f3.a254e6"
            ]
        ]
    },
    {
        "id": "3a7869f3.a254e6",
        "type": "file",
        "z": "9db9e4d5.033558",
        "name": "",
        "filename": "",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1270,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "d70272c2.994f5",
        "type": "csv",
        "z": "9db9e4d5.033558",
        "name": "",
        "sep": ",",
        "hdrin": "",
        "hdrout": "none",
        "multi": "one",
        "ret": "\\n",
        "temp": "timestamp,temperature,humidity",
        "skip": "0",
        "strings": true,
        "include_empty_strings": false,
        "include_null_values": false,
        "x": 1110,
        "y": 220,
        "wires": [
            [
                "3a7869f3.a254e6"
            ]
        ]
    },
    {
        "id": "317303b8.e168fc",
        "type": "change",
        "z": "9db9e4d5.033558",
        "name": "Get file content",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "filecontent",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 940,
        "y": 180,
        "wires": [
            [
                "8c4268c4.b2d1d8"
            ]
        ]
    },
    {
        "id": "5ef6b771.b073b8",
        "type": "change",
        "z": "9db9e4d5.033558",
        "name": "Get file content",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "filecontent",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 940,
        "y": 220,
        "wires": [
            [
                "d70272c2.994f5"
            ]
        ]
    },
    {
        "id": "f5ef08c0.4ecaa8",
        "type": "fs-file-lister",
        "z": "9db9e4d5.033558",
        "name": "",
        "start": "/home/pi/datalog/",
        "pattern": "",
        "folders": "*",
        "hidden": true,
        "lstype": "files",
        "path": true,
        "single": true,
        "depth": 0,
        "stat": true,
        "showWarnings": false,
        "x": 620,
        "y": 180,
        "wires": [
            [
                "4f540638.161a78",
                "9b0461d9.f59de"
            ]
        ]
    },
    {
        "id": "bb58d215.ab7bb",
        "type": "fs-file-lister",
        "z": "9db9e4d5.033558",
        "d": true,
        "name": "",
        "start": "D:\\OneDrive\\Documentos\\BUAP\\8 Semestre\\Proyectos I+D\\Proyecto Final Access Mask",
        "pattern": "",
        "folders": "*",
        "hidden": true,
        "lstype": "files",
        "path": true,
        "single": true,
        "depth": 0,
        "stat": true,
        "showWarnings": false,
        "x": 620,
        "y": 220,
        "wires": [
            [
                "4f540638.161a78",
                "9b0461d9.f59de"
            ]
        ]
    },
    {
        "id": "92e070a1.d755",
        "type": "inject",
        "z": "9db9e4d5.033558",
        "d": true,
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": true,
        "onceDelay": "5",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 120,
        "y": 200,
        "wires": [
            [
                "347bea72.4f4776"
            ]
        ]
    },
    {
        "id": "9b0461d9.f59de",
        "type": "debug",
        "z": "9db9e4d5.033558",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 735,
        "y": 160,
        "wires": [],
        "l": false
    },
    {
        "id": "24f15b53.fc4304",
        "type": "inject",
        "z": "9db9e4d5.033558",
        "d": true,
        "name": "",
        "props": [
            {
                "p": "home",
                "v": "",
                "vt": "num"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "86400",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 110,
        "y": 400,
        "wires": [
            [
                "9d6f40b9.05451"
            ]
        ]
    },
    {
        "id": "9d6f40b9.05451",
        "type": "file in",
        "z": "9db9e4d5.033558",
        "name": "",
        "filename": "/home/pi/datalog/displayErgonomia_20210515.csv",
        "format": "",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 390,
        "y": 400,
        "wires": [
            [
                "9e43a59d.76fe68"
            ]
        ]
    },
    {
        "id": "56c1f10b.9837c",
        "type": "function",
        "z": "9db9e4d5.033558",
        "name": "Múltiples archivos adjuntos",
        "func": "var directorioBase = 'D:/OneDrive/Documentos/BUAP/8 Semestre/Proyectos I+D/Proyecto Final Access Mask/' \nvar filename = 'displayErgonomia_20210514.csv';\n\n\n\n\n\nmsg.attachments = [\n        {\n        \"path\" : directorioBase + filename,\n        },\n        {\n        \"path\" : directorioBase + 'displayErgonomia_20210515.csv',\n        },\n    ]\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 360,
        "y": 520,
        "wires": [
            [
                "dc2373a2.e69a3"
            ]
        ]
    },
    {
        "id": "b519f74d.373368",
        "type": "inject",
        "z": "9db9e4d5.033558",
        "name": "",
        "props": [
            {
                "p": "home",
                "v": "",
                "vt": "num"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 110,
        "y": 520,
        "wires": [
            [
                "56c1f10b.9837c"
            ]
        ]
    },
    {
        "id": "dc2373a2.e69a3",
        "type": "change",
        "z": "9db9e4d5.033558",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Se adjuntan los reportes de mediciones del Display de Ergonomía.",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Reporte Mensual Display Ergonomía",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 520,
        "wires": [
            [
                "b26d41ea.12b2",
                "5ffcd0ef.0c6dd"
            ]
        ]
    },
    {
        "id": "b26d41ea.12b2",
        "type": "debug",
        "z": "9db9e4d5.033558",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 930,
        "y": 520,
        "wires": []
    },
    {
        "id": "c96caaa3.1ab608",
        "type": "inject",
        "z": "9db9e4d5.033558",
        "name": "",
        "props": [
            {
                "p": "home",
                "v": "",
                "vt": "num"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 110,
        "y": 440,
        "wires": [
            [
                "9d6f40b9.05451"
            ]
        ]
    },
    {
        "id": "5ffcd0ef.0c6dd",
        "type": "e-mail",
        "z": "9db9e4d5.033558",
        "server": "smtp-mail.outlook.com",
        "port": "587",
        "secure": false,
        "tls": true,
        "name": "carlos.d.san25@gmail.com",
        "dname": "outlook",
        "x": 920,
        "y": 400,
        "wires": []
    },
    {
        "id": "c16e683.9c83398",
        "type": "e-mail",
        "z": "9db9e4d5.033558",
        "server": "smtp.gmail.com",
        "port": "465",
        "secure": true,
        "tls": true,
        "name": "carlos.d.dan25@gmail.com",
        "dname": "gmail",
        "x": 930,
        "y": 340,
        "wires": []
    },
    {
        "id": "2f10646.e99ec9c",
        "type": "e-mail",
        "z": "9db9e4d5.033558",
        "server": "smtp.live.com",
        "port": "465",
        "secure": true,
        "tls": true,
        "name": "carlos.d.dan25@gmail.com",
        "dname": "hotmail",
        "x": 940,
        "y": 460,
        "wires": []
    },
    {
        "id": "9e43a59d.76fe68",
        "type": "change",
        "z": "9db9e4d5.033558",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "description",
                "pt": "msg",
                "to": "Se adjuntan los reportes de mediciones del día.",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Reporte Display Ergonomía",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 400,
        "wires": [
            [
                "5ffcd0ef.0c6dd",
                "2f10646.e99ec9c",
                "c16e683.9c83398"
            ]
        ]
    },
    {
        "id": "7d627f47.e52e9",
        "type": "comment",
        "z": "9db9e4d5.033558",
        "name": "Pruebas para enviar correos",
        "info": "",
        "x": 160,
        "y": 340,
        "wires": []
    },
    {
        "id": "a904d310.033b5",
        "type": "inject",
        "z": "9db9e4d5.033558",
        "name": "",
        "props": [
            {
                "p": "home",
                "v": "",
                "vt": "num"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 130,
        "y": 240,
        "wires": [
            [
                "347bea72.4f4776"
            ]
        ]
    },
    {
        "id": "2329c031.f25de",
        "type": "link in",
        "z": "d0f801d.0d00a",
        "name": "to-mqtt-temp",
        "links": [
            "419a9c32.b9f944"
        ],
        "x": 215,
        "y": 200,
        "wires": [
            [
                "9a8ced22.26a49"
            ]
        ]
    },
    {
        "id": "2682cfe1.b626",
        "type": "comment",
        "z": "d0f801d.0d00a",
        "name": "Mediciones",
        "info": "",
        "x": 270,
        "y": 100,
        "wires": []
    },
    {
        "id": "9a8ced22.26a49",
        "type": "function",
        "z": "d0f801d.0d00a",
        "name": "DisplayErgonomia/SerialNo/temp'",
        "func": "var serial = global.get('SerialNo') || 0;\n\nmsg.topic = 'DisplayErgonomia/'+ serial +'/temp'\n//msg.topic = 'DisplayErgonomia/0/temp'\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 400,
        "y": 200,
        "wires": [
            [
                "d4bf316a.0f397",
                "1fc4757d.52af4b"
            ]
        ]
    },
    {
        "id": "d7abe49e.08ca78",
        "type": "comment",
        "z": "d0f801d.0d00a",
        "name": "¿Recibes mensajes duplicados? Prueba borrar y vuelve a arrastrar los mqtt in dinámicos problemáticos",
        "info": "Es una funcionalidad no tan cool de los nodos, se pueden suscribir más de una vez al mismo tópico",
        "x": 390,
        "y": 40,
        "wires": []
    },
    {
        "id": "95fabb10.1ead38",
        "type": "link in",
        "z": "d0f801d.0d00a",
        "name": "to-mqtt-hum",
        "links": [
            "722cf8f8.4bffe8"
        ],
        "x": 215,
        "y": 260,
        "wires": [
            [
                "fe0f2f65.61eaf"
            ]
        ]
    },
    {
        "id": "fe0f2f65.61eaf",
        "type": "function",
        "z": "d0f801d.0d00a",
        "name": "DisplayErgonomia/SerialNo/hum'",
        "func": "var serial = global.get('SerialNo') || 0;\n\nmsg.topic = 'DisplayErgonomia/'+ serial +'/hum'\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 400,
        "y": 260,
        "wires": [
            [
                "d4bf316a.0f397",
                "1fc4757d.52af4b"
            ]
        ]
    },
    {
        "id": "1fc4757d.52af4b",
        "type": "mqtt out",
        "z": "d0f801d.0d00a",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "broker": "8714eca8.27de2",
        "x": 670,
        "y": 340,
        "wires": []
    },
    {
        "id": "d9c42bf7.3df2a8",
        "type": "link in",
        "z": "d0f801d.0d00a",
        "name": "to-mqtt-uv",
        "links": [
            "81413a7b.839468"
        ],
        "x": 215,
        "y": 320,
        "wires": [
            [
                "582cbee.1157f4"
            ]
        ]
    },
    {
        "id": "582cbee.1157f4",
        "type": "function",
        "z": "d0f801d.0d00a",
        "name": "DisplayErgonomia/SerialNo/uv'",
        "func": "var serial = global.get('SerialNo') || 0;\n\nmsg.topic = 'DisplayErgonomia/'+ serial +'/uv'\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 410,
        "y": 320,
        "wires": [
            [
                "1fc4757d.52af4b",
                "d4bf316a.0f397"
            ]
        ]
    },
    {
        "id": "d4bf316a.0f397",
        "type": "debug",
        "z": "d0f801d.0d00a",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 240,
        "wires": []
    },
    {
        "id": "849186a9.2fd1a8",
        "type": "comment",
        "z": "d0f801d.0d00a",
        "name": "Tester",
        "info": "",
        "x": 890,
        "y": 140,
        "wires": []
    },
    {
        "id": "2d507d66.c500c2",
        "type": "mqtt in",
        "z": "d0f801d.0d00a",
        "name": "",
        "topic": "DisplayErgonomia/0/tester",
        "qos": "2",
        "datatype": "auto",
        "broker": "8714eca8.27de2",
        "x": 950,
        "y": 200,
        "wires": [
            [
                "57327f1d.badf"
            ]
        ]
    },
    {
        "id": "57327f1d.badf",
        "type": "debug",
        "z": "d0f801d.0d00a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1150,
        "y": 200,
        "wires": []
    },
    {
        "id": "4e91fdc9.166e14",
        "type": "link in",
        "z": "d0f801d.0d00a",
        "name": "to-mqtt-db",
        "links": [
            "8533e7b1.3715d8"
        ],
        "x": 215,
        "y": 380,
        "wires": [
            [
                "bb37b39d.8dbfc"
            ]
        ]
    },
    {
        "id": "bb37b39d.8dbfc",
        "type": "function",
        "z": "d0f801d.0d00a",
        "name": "DisplayErgonomia/SerialNo/db'",
        "func": "var serial = global.get('SerialNo') || 0;\n\nmsg.topic = 'DisplayErgonomia/'+ serial +'/db'\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 410,
        "y": 380,
        "wires": [
            [
                "1fc4757d.52af4b"
            ]
        ]
    },
    {
        "id": "d874026d.aa25",
        "type": "link in",
        "z": "d0f801d.0d00a",
        "name": "to-mqtt-lux",
        "links": [
            "4869765c.d270b8"
        ],
        "x": 215,
        "y": 440,
        "wires": [
            [
                "5fb12d1e.1512f4"
            ]
        ]
    },
    {
        "id": "5fb12d1e.1512f4",
        "type": "function",
        "z": "d0f801d.0d00a",
        "name": "DisplayErgonomia/SerialNo/lux'",
        "func": "var serial = global.get('SerialNo') || 0;\n\nmsg.topic = 'DisplayErgonomia/'+ serial +'/lux'\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 410,
        "y": 440,
        "wires": [
            [
                "1fc4757d.52af4b"
            ]
        ]
    },
    {
        "id": "ea0686db.9dce28",
        "type": "link in",
        "z": "d0f801d.0d00a",
        "name": "to-mqtt-ppm",
        "links": [
            "9e493a9b.dd0998"
        ],
        "x": 215,
        "y": 500,
        "wires": [
            [
                "9cbca052.79e64"
            ]
        ]
    },
    {
        "id": "9cbca052.79e64",
        "type": "function",
        "z": "d0f801d.0d00a",
        "name": "DisplayErgonomia/SerialNo/ppm'",
        "func": "var serial = global.get('SerialNo') || 0;\n\nmsg.topic = 'DisplayErgonomia/'+ serial +'/ppm'\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 400,
        "y": 500,
        "wires": [
            [
                "1fc4757d.52af4b"
            ]
        ]
    },
    {
        "id": "88148fe0.ace44",
        "type": "comment",
        "z": "d0f801d.0d00a",
        "name": "DisplayErgonomia/0/temp",
        "info": "",
        "x": 310,
        "y": 140,
        "wires": []
    },
    {
        "id": "47499e47.c4b74",
        "type": "rbe",
        "z": "f15c88c3.1d8bf8",
        "name": "",
        "func": "deadband",
        "gap": "2",
        "start": "",
        "inout": "out",
        "property": "payload",
        "x": 1100,
        "y": 640,
        "wires": [
            [
                "355a58bf.9c3bb8"
            ]
        ]
    },
    {
        "id": "3aca1ac6.36a986",
        "type": "rbe",
        "z": "f15c88c3.1d8bf8",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "property": "payload",
        "x": 1095,
        "y": 680,
        "wires": [
            []
        ],
        "l": false
    },
    {
        "id": "97b16fd.191e19",
        "type": "ui_text_input",
        "z": "af48f45.b140f08",
        "name": "",
        "label": "Color Blanco (RRR,GGG,BBB)",
        "tooltip": "(Mantener entre 100-200)",
        "group": "a68eebc0.1d6ba8",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "mode": "text",
        "delay": "0",
        "topic": "",
        "x": 210,
        "y": 340,
        "wires": [
            [
                "b9948702.535458"
            ]
        ]
    },
    {
        "id": "e97c7c4b.9868b",
        "type": "exec",
        "z": "7f137852.8b9328",
        "command": "hostname -I",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 770,
        "y": 400,
        "wires": [
            [
                "1a8c4323.2dc83d",
                "e1a82bb2.bb5d98"
            ],
            [
                "e1a82bb2.bb5d98"
            ],
            [
                "e1a82bb2.bb5d98"
            ]
        ]
    },
    {
        "id": "1a8c4323.2dc83d",
        "type": "link out",
        "z": "7f137852.8b9328",
        "name": "sistema-respuesta-ip",
        "links": [
            "eb46a588.815758",
            "a8c90c1a.b31fe"
        ],
        "x": 895,
        "y": 440,
        "wires": []
    },
    {
        "id": "e1a82bb2.bb5d98",
        "type": "debug",
        "z": "7f137852.8b9328",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 950,
        "y": 400,
        "wires": []
    },
    {
        "id": "640c31e4.feb4c",
        "type": "inject",
        "z": "7f137852.8b9328",
        "name": "IP Check",
        "props": [
            {
                "p": "payload",
                "v": "",
                "vt": "date"
            },
            {
                "p": "topic",
                "v": "",
                "vt": "string"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": "60",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 590,
        "y": 400,
        "wires": [
            [
                "e97c7c4b.9868b"
            ]
        ]
    },
    {
        "id": "7d03a844.69a068",
        "type": "ui_toast",
        "z": "af48f45.b140f08",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "topic": "",
        "name": "",
        "x": 450,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "4869765c.d270b8",
        "type": "link out",
        "z": "f15c88c3.1d8bf8",
        "name": "fromLUXMedicion",
        "links": [
            "d874026d.aa25"
        ],
        "x": 755,
        "y": 520,
        "wires": []
    },
    {
        "id": "419a9c32.b9f944",
        "type": "link out",
        "z": "f15c88c3.1d8bf8",
        "name": "fromTemMedicion",
        "links": [
            "2329c031.f25de"
        ],
        "x": 755,
        "y": 160,
        "wires": []
    },
    {
        "id": "722cf8f8.4bffe8",
        "type": "link out",
        "z": "f15c88c3.1d8bf8",
        "name": "fromHUMMedicion",
        "links": [
            "95fabb10.1ead38"
        ],
        "x": 755,
        "y": 340,
        "wires": []
    },
    {
        "id": "81413a7b.839468",
        "type": "link out",
        "z": "f15c88c3.1d8bf8",
        "name": "fromRAWVoltsUVMedicion",
        "links": [
            "d9c42bf7.3df2a8"
        ],
        "x": 755,
        "y": 680,
        "wires": []
    },
    {
        "id": "8533e7b1.3715d8",
        "type": "link out",
        "z": "f15c88c3.1d8bf8",
        "name": "fromRAWIntensDBMedicion",
        "links": [
            "4e91fdc9.166e14"
        ],
        "x": 755,
        "y": 840,
        "wires": []
    },
    {
        "id": "9e493a9b.dd0998",
        "type": "link out",
        "z": "f15c88c3.1d8bf8",
        "name": "fromRAWIntensPPMMedicion",
        "links": [
            "ea0686db.9dce28"
        ],
        "x": 755,
        "y": 1000,
        "wires": []
    },
    {
        "id": "9335614c.50116",
        "type": "telegrambot-command",
        "z": "2de0f07d.fb2df",
        "name": "/ip",
        "bot": "13325c7e.01d734",
        "command": "/ip",
        "commandType": "str",
        "commandCase": false,
        "x": 90,
        "y": 280,
        "wires": [
            [
                "21be9a2f.daf7a6"
            ]
        ]
    },
    {
        "id": "21be9a2f.daf7a6",
        "type": "link out",
        "z": "2de0f07d.fb2df",
        "name": "from /ip",
        "links": [
            "fb8cb6f7.942de8",
            "9e53bfc2.e3329",
            "35feb884.bd5478"
        ],
        "x": 195,
        "y": 280,
        "wires": []
    },
    {
        "id": "9e53bfc2.e3329",
        "type": "link in",
        "z": "7f137852.8b9328",
        "name": "",
        "links": [
            "21be9a2f.daf7a6",
            "b9ab70c4.1723c"
        ],
        "x": 515,
        "y": 540,
        "wires": [
            [
                "687b7d8e.700714"
            ]
        ]
    },
    {
        "id": "687b7d8e.700714",
        "type": "exec",
        "z": "7f137852.8b9328",
        "command": "hostname -I",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 670,
        "y": 540,
        "wires": [
            [
                "aa0e0829.b2b188"
            ],
            [],
            []
        ]
    },
    {
        "id": "9532c2cf.fc3af",
        "type": "link out",
        "z": "7f137852.8b9328",
        "name": "fromIPTelegram",
        "links": [
            "ab026bfd.bfdf78",
            "41bbf922.e61fd8"
        ],
        "x": 1035,
        "y": 540,
        "wires": []
    },
    {
        "id": "ad966ee8.8e6dc",
        "type": "debug",
        "z": "69a283fa.9a5a2c",
        "name": "ngrok",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1110,
        "y": 200,
        "wires": []
    },
    {
        "id": "aa0e0829.b2b188",
        "type": "split",
        "z": "7f137852.8b9328",
        "name": "",
        "splt": "172.",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "key",
        "x": 810,
        "y": 540,
        "wires": [
            [
                "17ee63e0.6e9a3c"
            ]
        ]
    },
    {
        "id": "17ee63e0.6e9a3c",
        "type": "switch",
        "z": "7f137852.8b9328",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": ":",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 930,
        "y": 540,
        "wires": [
            [],
            [
                "9532c2cf.fc3af"
            ]
        ]
    },
    {
        "id": "c0649c46.f7cd7",
        "type": "comment",
        "z": "7f137852.8b9328",
        "name": "IP para Telegram",
        "info": "",
        "x": 570,
        "y": 480,
        "wires": []
    },
    {
        "id": "8e96ac3.e344a5",
        "type": "comment",
        "z": "2de0f07d.fb2df",
        "name": "Flow para nodos de Telegram",
        "info": "",
        "x": 170,
        "y": 40,
        "wires": []
    }
]